﻿
@using ThanhNienNews.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@{
    MyNew news = ViewBag.DataOne;
    
}
<h2>Edi 1t</h2><link href="@Url.Content("~/Content/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" />

@*<link rel="stylesheet" href="@Url.Content("~/Content/validationEngine.jquery.css")" type="text/css" />*@

@*<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>*@
<link rel="stylesheet" href="~/Scripts/formValidator/validationEngine.jquery.css" type="text/css" />

<script src="~/Scripts/formValidator/jquery-1.7.2.min.js" type="text/javascript" />
</script>
<script src="~/Scripts/formValidator/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8" />
</script>
<script src="~/Scripts/formValidator/jquery.validationEngine.js" type="text/javascript" charset="utf-8" />

<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")    " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vendor/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>

@Html.CKEditorHeaderScripts()

<script type="text/javascript">

    //function upload file
    $(document).ready(function () {
        if ('@news.Image1' != null && '@news.Image1' != "") {
            $("#show_image").html("<img src='" + root + "/Images/Items/@news.Image1' width='120' height='100' />");
        } else {
            $("#show_image").html("<img src='" + root + "/Content/Images/NoPhotoIcon.jpg' width='120' height='100' />");
        }

        $('#newsForm').fileupload({
            dataType: 'json',
            url: root + '/Admin/UploadFiles',
            done: function (e, data) {
                var result = eval(data.result);

                $('#file_name').html(result["name"]);
                $('#file_type').html(result["type"]);
                $('#file_size').html(result["size"]);
                $('#show_image').html('<img src="' + root + '/Images/Temp/' + result["name"] + '" width="120" height="100" />');
            }
        });
    });
</script>


@using (Html.BeginForm("AddNews", "Admin", FormMethod.Post, new { id = "newsForm", enctype = "multipart/form-data" }))
{
    <div>
        <div style="display:none">
            @Html.TextBox("GUID_ID", @news.GUID_ID, new { @class = "inputclass", @banhmi = "banhmi" })
        </div>
        <div class="fileupload-buttonbar">
            <div class="progressbar fileupload-progressbar">
            </div>
            <span class="fileinput-button">
                <a href="javascript:void(0)" class="upload-image">Upload images</a>
                <input type="file" name="files[]" multiple>
            </span>
        </div>
        <br />
        <br />
        <div id="file_name" style="display:none;"></div>
        <div id="file_type" style="display:none;"></div>
        <div id="file_size" style="display:none;"></div>
        <div id="show_image" style="height:130px;"></div>
        <br />
        <br />
        <input type="hidden" id="userOldImage" />
        Tiêu đề:
        @Html.TextBox("txtTitle", @news.Title, new { @class = "inputclass validate[required]", @banhmi = "banhmi" })<br />
        Mô tả ngắn:
        @Html.TextArea("txtShortDesc", @news.ShortDesc, new { @class = "inputclass", @banhmi = "banhmi", cols = 20, rows = 5 })<br />

        Mô tả đầy đủ:

        @Html.CKEditor("txtFullDesc", (string)@news.FullDesc, "toolbar:'Basic'", new { cols = 20, rows = 5 })

        <input type="button" value="Save" id="btnSave" />
    </div>
}
<script>

    function getData() {
        var GUID_ID = $("#GUID_ID").val();
        var txtTitle = $.trim($("#txtTitle").val());
        var txtShortDesc = $.trim($("#txtShortDesc").val());
        @Html.CKEditorSubmitButtonUpdateFunction();
        var txtFullDesc = $.trim($("#txtFullDesc").val());
        var image = $("#userOldImage").val();
        var cars = { GUID_ID: GUID_ID, Title: txtTitle, ShortDesc: txtShortDesc, FullDesc: txtFullDesc,Image1 :image  };
        //public decimal Id { get; set; }
        //public Nullable<int> MemberId { get; set; }
        //public string DesShort { get; set; }
        //public string DesLong { get; set; }
        //public string NoiNhat { get; set; }
        //public string LienHe { get; set; }
        //public Nullable<System.DateTime> DateUpdate { get; set; }
        //public Nullable<int> islost { get; set; }

        return cars;
    }
    $(document).ready(function () {
        $("#userOldImage").val(ReplaceNull('@news.Image1'));
        if ('@news.Image1' != null && '@news.Image1' != "") {
            $("#show_image").html("<img src='" + root + "/Images/Items/@news.Image1' width='120' height='100' />");
        } else {
            $("#show_image").html("<img src='" + root + "/Content/Images/NoPhotoIcon.jpg' width='120' height='100' />");
        }
    });
    

    $("#btnSave").click(function () {
        //if ($("#carForm").validationEngine('validate')) {					
       
        if (1 == 1) {
            $.ajax(
            {
                url: root + '/Admin/SaveMyNews',
                type: "POST",
                dataType: "json",
                data: (getData()),
                success: function (data) {
                    if(data==true)
                    {
                        window.location = root+"/Admin/Index";
                    }
                }
            });
        }
    });

</script>