﻿@using ThanhNienNews.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { id = "myForm", enctype = "multipart/form-data" }))
{
    <div>
        Search: @Html.TextBox("txtSearch", (String)ViewBag.txtSearch)

        <input type="submit" value="Save" id="btnSave" />
    </div>
}

<a href="~/Admin/AddNews">Thêm mới</a><br /><br /><br /><br />
@{
    
    foreach (MyNewShow item in ViewBag.NewsListSearch)
    {
        <br/>
        <a href="~/Admin/Edit/@item.GUID_ID" >@item.Title</a>
    }
        
    
}
<br/>

@Html.Raw(ViewBag.ViewPageNum)

<script>
    function GoPage(pagego)
    {
        var txtS = $('#txtSearch').val();
        window.location = root + "/Admin/Index?page="+ pagego +"&txtSearch=" + txtS;
    }
</script>
