﻿@using ThanhNienNews.Models
@{
    ViewBag.Title = "ViewCategory";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>ViewCategory</h2>
<a href="~/Admin/AddCate"> thêm </a>
@using (Html.BeginForm("SaveViewCate", "Admin", FormMethod.Post, new { id = "categoryForm", enctype = "multipart/form-data" }))
{
    

    <table>
        <tr><td> STT</td><td>Tên </td></tr>


        @{
            int sttnum = 0;
            foreach (Category item in ViewBag.NewsListSearch)
            {

                <tr><td> @Html.TextBox("STT_" + item.ID, @item.STT, new { @class = "inputclass", @banhmi = "banhmi" })</td><td>@Html.TextBox("CateName_" + item.ID, @item.CateName, new { @class = "inputclass", @banhmi = "banhmi" }) </td></tr>
            }


        }
    </table>
            <input type="submit" value="Save" id="btnSave" />
}

<script>
    var mss = '@ViewBag.mess';
    if (mss!=='') {
        alert( '@Html.Raw(ViewBag.mess)');
    }
</script>