﻿@using ThanhNienNews.Models
@{
    ViewBag.Title = "ChangePassword";
    User loginUser = new User();
    if (Session["loginUser"] != null)
    {
        loginUser = Session["loginUser"] as User;
    }
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<link href="@Url.Content("~/Scripts/granttview/button.css")" rel="Stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var fa = false, fb = false, fc = false;
        var newPass = 0, oldPass = 0, confPass = 0;

        $('.button').click(function () {
            oldPass = $('#old_pass').val();
            newPass = $('#new_pass').val();
            confPass = $('#confirm_pass').val();

            if (oldPass <= 0) {
                if (fa != true) {
                    $('#old_pass').parent().append('<p class="err">Old pass is require</p>');
                    fa = true;
                }
                return false;
            } else {
                $('.err').remove();
            }
            if (newPass <= 0) {
                if (fb != true) {
                    $('#new_pass').parent().append('<p class="err">New pass is require</p>');
                    fb = true;
                }
                return false;
            } else {
                $('.err').remove();
            }
            
            if (newPass != confPass) {
                if (fa != true) {
                    $('#confirm_pass').parent().append('<p class="err">New pass and confirm pass is not match</p>');
                    fc = true;
                }
                return false;
            } else {
                $('.err').remove();
            }
            var password = "@loginUser.password";            
            //if (password != oldPass) {
            //    $('#old_pass').parent().append('<p class="err">Old pass is wrong</p>');
            //    return false;
            //}
            
            return true;
        });
    });
</script>
<div class="login" id="change_pass">
<h2>Change Password</h2>
    @if(TempData["Message"]!=null)
    {
       @TempData["Message"].ToString() 
    }
@using (Html.BeginForm("ChangePasswordProcess", "Admin", FormMethod.Post, new { @id = "form_changepass" }))
{
<table>
    <tbody>
        <tr>
            <th>Old Password <span>(*)</span></th>
            <td><input type="password" id="old_pass" name="old_pass" value="" />
            </td>
            
        </tr>
        <tr>
            <th>New Password <span>(*)</span></th>
            <td><input type="password" id="new_pass" name="new_pass" value="" /></td>
        </tr>
        <tr>
            <th>Comfirm Password <span>(*)</span></th>
            <td><input type="password" id="confirm_pass" name="confirm_pass" value="" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><br /><input type="submit" class="button" name="submit" value="Change Password" /></td>
        </tr>
    </tbody>
</table>
}
</div>