﻿@using ThanhNienNews.Models
@{
    User loginUser = new User();
    if(Session["loginUser"] != null)
    {
        loginUser = Session["loginUser"] as User;
    }else{
        FormsAuthentication.SignOut();
        Session.Abandon();
    }

    ViewBag.Title = "Help";
}
<h2>Help</h2>

<div class="help">
     @if (loginUser.userId > 0)
     {
         if (loginUser.permission == "Admin")
         {
            <ul>
                <li><a href="@Url.Content("~/Content/Document/admin_login_and_request_password.doc")">Admin Login</a></li>
                <li><a href="@Url.Content("~/Content/Document/car_managerment.doc")">Cars Management</a></li>
                <li><a href="@Url.Content("~/Content/Document/drivers_management.doc")">Driver Management</a></li>
                <li><a href="@Url.Content("~/Content/Document/users_managemnt.doc")">User Management</a></li>
                <li><a href="@Url.Content("~/Content/Document/department_management.doc")">Department Management</a></li>
                <li><a href="@Url.Content("~/Content/Document/company_management.doc")">Company Management</a></li>
                <li><a href="@Url.Content("~/Content/Document/booking_plan.doc")">Plan</a></li>           
                 <li><a href="@Url.Content("~/Content/Document/report.doc")">Report</a></li>           
                 <li><a href="@Url.Content("~/Content/Document/search.doc")">Search WH</a></li>           
                <li><a href="@Url.Content("~/Content/Document/booking_car_using.doc")">Booking Car Using</a></li>
            </ul>       
         }else{
             <ul>
                <li><a href="@Url.Content("~/Content/Document/car_booking_daily.doc")">Car booking Daily</a></li>
                <li><a href="@Url.Content("~/Content/Document/office_car_using_user.doc")">Office Car Using</a></li>
                <li><a href="@Url.Content("~/Content/Document/booking_plan.doc")">Booking</a></li>         
                <li><a href="@Url.Content("~/Content/Document/user.doc")">Users</a></li>         
            </ul>         
         }
     }
     else
     {
         <ul>
            <li><a href="@Url.Content("~/Content/Document/user_login_and_request_password.doc")">User Login</a></li>
            <li><a href="@Url.Content("~/Content/Document/car_booking_daily.doc")">Car booking Daily</a></li>
            <li><a href="@Url.Content("~/Content/Document/office_car_using_user.doc")">Office Car Using</a></li>                        
        </ul>         
     }
</div>
