﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<link href="@Url.Content("~/Scripts/granttview/button.css")" rel="Stylesheet" type="text/css" />
<div class="login">
@*<a href="@Url.Content("~/")"><img src="@Url.Content("~/Content/Images/header-logo.gif")" /></a>*@
<h2>Login</h2>
@using (Html.BeginForm("LoginProcess", "Account", FormMethod.Post))
{
<div class="err">@ViewBag.Err</div>
<table>
    <tbody>
        <tr>
            <th>Username</th>
            <td><input type="text" id="username" name="username" value="" /></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" id="password" name="password" value="" /></td>
        </tr>
        @*<tr>
            <td colspan="2"><div style="text-align:center;">@Html.ActionLink("Forgot your password", "ForgotPassword", "Users")</div></td>
        </tr>*@
        <tr>
            <td colspan="2" align="center"><br /><input type="submit" class="button" id="login" name="submit" value="Login" /></td>
        </tr>
    </tbody>
</table>
    <p>Copyright(C) 2013 ThanhNienNews Co.,Ltd All rights reserved</p>
}
</div>

