﻿
@{
    ViewBag.Title = "LogOn";
    
}
<link href="@Url.Content("~/Scripts/granttview/button.css")" rel="Stylesheet" type="text/css" />
<div class="login">
<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td><input type="text" name="username" value="" /></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" value="" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br /><input type="submit" class="button" name="submit" value="Login" /></td>
            </tr>
        </tbody>
    </table>
}
</div>

