﻿@using ThanhNienNews.Models
@using ThanhNienNews.Helpers
@{
    ViewBag.Title = "ChangePassword";    
    User loginUser = new User();    
    if (Session["loginUser"] != null)
    {
        loginUser = Session["loginUser"] as User;
    }
}
<link href="@Url.Content("~/Scripts/granttview/button.css")" rel="Stylesheet" type="text/css" />

<link rel="stylesheet" href="@Url.Content("~/Content/validationEngine.jquery.css")" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        // Binds form submission and fields to the validation engine
        jQuery("#form_changepass").validationEngine();
    });
            
	</script>
<div class="login" id="change_pass">
<h2>Change Password</h2>
@using (Html.BeginForm("ChangePasswordProcess", "Users", FormMethod.Post, new { @id = "form_changepass" }))
{
<div class="err" style="text-align:center; margin:-10px 0 10px 0;">@ViewBag.Err</div>
<table>
    <tbody>
        <tr>
            <th>Old Password <span>(*)</span></th>
            <td><input type="password" id="old_pass" class="validate[required]" name="old_pass" value="" />
            </td>            
        </tr>
        <tr>
            <th>New Password <span>(*)</span></th>
            <td><input type="password" id="new_pass" class="validate[required] text-input" name="new_pass" value="" /></td>
        </tr>
        <tr>
            <th>Comfirm Password <span>(*)</span></th>
            <td><input type="password" id="confirm_pass" class="validate[required,equals[new_pass]] text-input" name="confirm_pass" value="" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><br /><input type="submit" class="button" name="submit" value="Change Password" />
            <input class="button" type="button" value="Cancel" onclick="history.go(-1);" /></td>
        </tr>
    </tbody>
</table>
}
</div>