﻿@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
<p>Your password has reset, please check email and login here @Html.ActionLink("Log In", "Login", "Account") or go back to @Html.ActionLink("Daily Office Car", "ViewDaily", "CarBookingUsing"). Have Fun!</p>
