﻿@using ThanhNienNews.Models
@using ThanhNienNews.Helpers

@{
    ViewBag.Title = "ForgotPassword";
}

<link href="@Url.Content("~/Scripts/granttview/button.css")" rel="Stylesheet" type="text/css" />

<link rel="stylesheet" href="@Url.Content("~/Content/validationEngine.jquery.css")" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        // binds form submission and fields to the validation engine
        jQuery("#formForgotPassword").validationEngine();
    });
            
	</script>
<div class="login" id="forgot_pass">
<h2>Request your password</h2>
@using (Html.BeginForm("ForgotPasswordProcess", "Users", FormMethod.Post, new { @id = "formForgotPassword" }))
{
<div class="err" style="text-align:center; margin:-10px 0 10px 0;">@ViewBag.Err</div>
<table>
    <tbody>
        <tr>
            <th>Your email <span>(*)</span></th>
            <td><input type="text" id="email" class="validate[required,custom[email]]" name="email" value="" />
            </td>
        </tr>        
        <tr>
            <td colspan="2" align="center"><br /><input type="submit" class="button" name="submit" value="Send to request" />
            <input class="button" type="button" value="Cancel" onclick="history.go(-1);" /></td>
        </tr>
    </tbody>
</table>
}
</div>
