﻿@model ThanhNienNews.Models.User
@using ThanhNienNews.Models

@{
    ViewBag.Title = "User Management";
    //Page: Users - Index
}

<link href="@Url.Content("~/Content/Site.css")" rel="Stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="@Url.Content("~/Content/validationEngine.jquery.css")" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vendor/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/user.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/user_checked.js")" type="text/javascript"></script>


<link href="@Url.Content("~/Content/jquery.multiselect.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.multiselect.js")" type="text/javascript"></script>
 <script type="text/javascript">
     /*
      * Set datepicker
      */
     $(document).ready(function () {
         $("input#birthday").datepicker({
             dateFormat: "yy/mm/dd",
             changeMonth: true,
             changeYear: true,
             showOn: "button",
             buttonImage: '@Url.Content("~/Scripts/zebra-datepicker/css/calendar.png")',
             buttonImageOnly: true
         });
         $("select#departmentId").multiselect({
             selectedList: 6 // 0-based index 
         });
     });
</script>

<script type="text/javascript">
    
    //function upload file
    $(document).ready(function () {
        $('#userForm').fileupload({
            dataType: 'json',
            url: root + '/Users/UploadFiles',
            done: function (e, data) {
                var result = eval(data.result);

                $('#file_name').html(result["name"]);
                $('#file_type').html(result["type"]);
                $('#file_size').html(result["size"]);
                $('#show_image').html('<img src="' + root + '/Images/Temp/' + result["name"] + '" width="120" height="100" />');
            }
        });        
    });
</script>

@using (Html.BeginForm("Index", "Users", FormMethod.Post, new { id = "userForm", enctype = "multipart/form-data" }))
{ 
    <h2>User Management</h2>
    <div class="user_management">
    <fieldset>
        <table>
            <tbody>                
                <tr>
                    <th>User name <span>(*)</span></th>
                    <td id="userNameCheck">@Html.TextBoxFor(model => model.userName, new { @class = "validate[required,custom[username]]", @maxLength = 30 })</td>
                    <th>Full name <span>(*)</span></th>
                    <td>@Html.TextBoxFor(model => model.fullName, new { @class = "validate[required]", @maxLength = 50 })</td>
                    <td rowspan="5">
                        <div class="fileupload-buttonbar">
                            <div class="progressbar fileupload-progressbar">
                            </div>
                            <span class="fileinput-button"><a href="javascript:void(0)" class="upload-image">Upload images</a>
                                <input type="file" name="files[]" multiple>
                            </span>
                        </div>
                        <br />
                        <br />
                        <div id="file_name" style="display:none;"></div>
                        <div id="file_type" style="display:none;"></div>
                        <div id="file_size" style="display:none;"></div>
                        <div id="show_image" style="height:130px;"></div>
                        <br />
                        <br />
                    </td>
                </tr>            
                <tr>
                    <th>Email <span>(*)</span></th>
                    <td>@Html.TextBoxFor(model => model.email, new { @class = "validate[required,custom[email]]", @maxLength = 100 })</td>
                    <th>Birthday</th>
                    <td>@Html.TextBoxFor(model => model.birthday, new { @class = "validate[custom[date]]" })</td>
                </tr>
                <tr>
                    <th>Home phone</th>                                                                                    
                    <td>@Html.TextBoxFor(model => model.homePhone, new { @class = "validate[custom[phone]]", @maxLength = 15 })</td>
                    <th>Hand phone</th>
                    <td>@Html.TextBoxFor(model => model.handPhone, new { @class = "validate[custom[phone]]", @maxLength = 15 })</td>
                </tr>
                <tr>                    
                    <th>Department <span>(*)</span></th>                    
                    <td>@Html.DropDownList("departmentId", ViewBag.Departments as IEnumerable<SelectListItem>,  new { @class = "validate[required]", multiple = "multiple" ,style="display:none"})</td>
                    <th>Permission</th>
                    <th><select id="permission">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select></th>
                </tr>
                <tr>
                    <th>Address</th>
                    <td colspan="3">@Html.EditorFor(model => model.address, new { @maxLength = 256 })</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td colspan="3">@Html.TextAreaFor(model => model.note, new { @maxLength = 1000 })</td>
                </tr>
                <tr style="display:none">
                    <th>user id</th>
                    <td id="hiddenData"><input type="hidden" class="text-box single-line" id="userId" value="" name="userId" />                        
                        <input type="hidden" class="text-box single-line" id="password" value="" name="password" />
                    </td>
                    
                </tr>
            </tbody>
        </table>
        </fieldset>
    </div>
    <input type="hidden" id="userOldImage" />
}
    <p class="group_button" >
    <input type="hidden" value='' name='mode' id='mode' />
    <input type="button" class="button btn_master" value="Add" name="btnAdd" id="btnAdd" onclick="AddButtonDriver()"/>
    <input type="button" class="button btn_master" value="Edit" name="btnEdit" id="btnEdit" onclick="EditButtonDriver()"/>
    <input type="button" class="button btn_master" value="Delete" name="btnDelete" id="btnDelete"/>
    <input type="button" class="button btn_approve" value="Save" name="btnSave" id="btnSave"/>
    <input type="button" class="button btn_approve" value="Cancel" name="btnCancel" id="btnCancel" onclick="CancelButton('userForm');CancelButtonUser();" />
</p>
<div>
    <h3 id="pageInfo"></h3>
    <input type="hidden" id="sortAZ" />
    <input type="hidden" id="objSort" />
    <input type="hidden" id="pageId" />
</div>
<div id="listContent">
</div>
