﻿@using ThanhNienNews.Models
@using ThanhNienNews.Helpers


<table id="tableId">
    <thead>
        <tr>
            <th>Image</th>            
            <th id="userName" style="text-align:left;"> <a href="JavaScript:sort('@ViewBag.Pagination.CurrentPage', '@ViewBag.Pagination.SortField', '@ViewBag.Pagination.SortDirection', 'userName')"
                                          class="@if(ViewBag.Pagination.SortField == "userName"){ @(ViewBag.Pagination.SortDirection == "asc" ? "sortAsc" : "sortDesc") }" >User Name</a></th>
            <th>Fullname</th>
            <th>Birthday</th>
            <th>Department</th>
           
            <th>Handphone</th>
            <th>Email</th>
            <th>Permision</th>
        </tr>
    </thead>
    <tbody>
    @if (ViewBag.Users.Count > 0)
    {
        foreach (ViewUserManagement dr in ViewBag.Users)
        {
            <tr onclick="SelectUser(this,'@dr.userId')">
                <td style="width:70px;height:50px;">
                    @if (dr.image != null && dr.image != String.Empty)
                    {
                        <img src="@Url.Content("~/Images/Items/" + dr.image)" width="70" height="50" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/NoPhotoIcon.jpg")" width="70" height="50" />
                    }
                </td>
                <td>@dr.userName</td>
                <td>@dr.fullName</td>
                <td>@dr.birthday</td>
                <td>@dr.departmentName</td>
                <td>@dr.handPhone</td>
                <td>@dr.email</td>
                <td>@dr.permission</td>            
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="8" align="center">@Constants.MSG012</td>
        </tr>
    }
    </tbody>
</table>
<div class="pagination">
    @Html.Partial("~/Views/Shared/Pager.cshtml", (ThanhNienNews.Models.PagerModel)ViewBag.Pagination)
</div>

<script>
    var message = "@ViewBag.message";    
</script>