@import url(layout.css);
*
{  
	padding:0; 
    	margin:0;
}
body {
	color: #000;
	font-size: small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	background-color: #abc;
	font-size:12px;
}
#container {
	/*width: 670px;*/
	/*width:776px;*/
	width:1024px;
	margin: 0 auto;
	background:  #fff ;
	background-image:url('../Content/images/bkgd_tile_1000.gif');
	background-repeat: repeat-y;
}
*html #container 
{    
    background: #fff ;
    background-image:url('../Content/images/bkgd_tile_1000.gif');
}
#masthead 
{
    background-color: #CCDDEE;
    height: 30px;
    padding: 5px 5px 15px 0px;
    text-align: right;
    width: 745px;
}
*html #masthead 
{
    margin-left:17px;    
}
#masthead a
{
    /*margin-right:20px;*/
}
#navigation {
	margin-right: 12px;
	margin-left: 12px;
	background-color: #d3d3d3;
	overflow: hidden;
}
*html #navigation 
{
    margin-left:17px;
    margin-right:7px;            
}
#column_l 
{
    /*width: 613px;*/
	width: 990px;
	min-height:620px;
	margin: 0 0 0 10px;
	padding: 0 10px 10px 10px;	
}
#column_r {
	/*width: 193px;*/
	width: 441px;
	margin: 0;
	float: right;
	background-color: #eef;
	position: relative;
	right: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
#footer {
	text-align: center;
	background-color: #89a;
	margin-right: 12px;
	margin-left: 12px;
	overflow: hidden;
	padding: 2px;
}
*html #footer {	
	margin-right: 7px;
	margin-left: 17px;	
}
/* Styles for Masthead */
#masthead img {
	float: left;
	background-image:url('../../Content/images/_logo.jpg');
}
#masthead p 
{
    
	color: #000;
	font-size: x-small;
	text-align: right;
	margin: 10px 10px 0 10px;
}
/* Styles for Navigation */
#navigation ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation li {
	border: 1px solid red;
    float: left;
    margin-right:5px;
}
#navigation a {
	color: #000;
	text-decoration: none;
	margin: 0 1px;
	padding: 5px;
	display: block;
	border: 1px solid #d3d3d3;
}
#navigation a:hover {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}
.header
{
    background-color:#CCDDEE;
    margin:0 12px; 
    width:1000px;
}
/* Styles for Content */
h1 
{
    margin:10px 0 0 20px;
    background-color:#CCDDEE;
    float:left;
}
h1 a
{
    
    background:#CCDDEE url("../Content/Images/header-logo.gif") 0 0 no-repeat ;
    display:block;
    width:230px;
    height:30px;
}
h1 a span
{
    display:none;
}
h2 {
	color: #965;
	font-size: 25px;
}
h3 {
	color: #965;
	font-size: 1.5em;
}
h4 {
	color: #965;
	font-size: 1.25em;
}
h5 {
	color: #965;
	font-size: 0.75em;
}
h6 {
	color: #965;
	font-size: 0.5em;
}
input, select
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
big {
	color: #965;
	font-size: medium;
}
#column_r p {
	color: #000;
	font-size: x-small;
	text-align: left;
	margin: 0;
	padding: 5px;
}
#column_r h4 {
	margin-bottom: 0;
}
#column_r ul {
	margin-left: 5px;
	padding-top: 0;
	padding-left: 10px;
}
#column_r ul li {
	font-size: x-small;
	display: list-item;
	list-style-position: outside;
}
/* Styles for Footer */
#footer p {
	color: #fff;
	font-size: x-small;
	margin-top: 2px;
	margin-bottom: 6px;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
#footer a:hover {
	color: #000;
	text-decoration: none;
}
/* Styles for Links */
a {
	color: #456;
	text-decoration: underline;
}
a:hover {
	color: #965;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
/*---------------*/
#menu {
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    margin-left:12px;
    background-color:#d3d3d3;
    height: 35px;
    margin-right:12px;
    
    
}

#nav {
    height:35px;
    list-style:none;
    margin:0;
    padding:0;
    float:left;
    z-index:999;
    position:absolute;
    text-align:center;
    }

#nav li {
    display:inline-block;
    position:relative;
    float:left;
    background: #d3d3d3;
    
    }

#nav li a {
    display:inline-block;
    width:200px;
    line-height:35px;
    padding:0;
    text-decoration:none;
    color:#000000;
    
    }
    
#nav li li {float:left;}
    
#nav li li a {display:block;font-size:12px; text-align:left; text-indent:15px;}
    
#nav li:hover {background:#DCDCDC;}

/*--- Sublist Styles ---*/
#nav ul {
    position:absolute;
    padding:0px;
    left:0;
    display:none;
    }

/*--- Hide Sub Sublists ---*/
#nav li:hover ul ul {display:none;}

/*--- Sublevel UL's display and position on hover ---*/
#nav li:hover ul {display:block;}
#nav li li:hover ul {margin-left:200px; margin-top:-35px; display:block;}


/* button */
.button 
{
    border: 1px solid #8ec1da;
    background-color: #ddeef6;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #aed5da, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    
    
    color: #000;
    text-shadow: 0 1px #fff;
    padding:1px 5px !important;
    margin-right: 5px;
    width:80px;
    cursor:pointer;
}
.button:hover {
	text-decoration: none;
	box-shadow: inset 0 1px 3px #aed5da, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #AED5E1, 0 0 3px #aed5da;
    color: green;
}
.button:active {
	position: relative;
	top: 1px;
}
.button[disabled='disabled'] {
	text-decoration: none;
	box-shadow: inset 0 1px 3px #fff, inset 0 -11px #cbe6f2, 0 0 3px #8ec1da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #cbe6f2, 0 0 3px #8ec1da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #cbe6f2, 0 0 3px #8ec1da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #cbe6f2, 0 0 3px #8ec1da;
    color: #C8C8C8;
    cursor:default;
}
.disabled {
	text-decoration: none;
	box-shadow: inset 0 1px 3px #fff, inset 0 -11px #DCF7FE, 0 0 3px #8ec1da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #DCF7FE, 0 0 3px #8ec1da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #DCF7FE, 0 0 3px #8ec1da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -11px #DCF7FE, 0 0 3px #8ec1da;
    color: #C8C8C8;
    cursor:default;
    pointer-events: none;    
}
.disabled a
{
    padding-top:2px !important;
    color:#ADADAD;
}

a.sortAsc 
{
    display:block;
    background:url(Images/icon_asc.gif) no-repeat;
    background-position: right;
}
a.sortDesc 
{
    display:block;
    background:url(Images/icon_desc.gif) no-repeat;
    background-position: right;
}
/* Paging */
div.pagination
{
    clear:both;    
    position:fixed;
    bottom:27px;
    margin-left:280px;
}
.pagination a,ul,li
{
    float: left;
}
.pagination div.pageStep a
{
    width:50px;
    padding-top:10px;
    text-decoration: none;
    text-align: center;
}
.pagination div.pageStep
{
    width:140px;
    float: left;
}
.pagination ul
{
    margin-right: 10px;
}
.pagination ul li
{
    margin-right: 5px;
    list-style:none;
    padding-top:3px;    
}
.pagination ul li.selected  a
{
    text-decoration: none;
    cursor: default;
    font-size: 20px;
    margin-top:-7px;
}

.pagination .btn_next
{
    /*
    text-indent:100px;
    background:url(themes/base/images/ui-icons_2e83ff_256x240.png) -10px 0px no-repeat;
    width:20px;
    height:15px;
    display:block;
    */
}

/* group button */
.group_button
{
    text-align:left;
    padding-bottom:10px;
}

/* User Management */
.user_management table th
{
    width:100px;
}
.user_management select
{
    width:179px;
}
.user_management input[name=address]
{
    width:472px;
}
.popup
{    
    position: absolute;
    width: 780px;
    display: block;
    z-index:1000;
    padding: 0px 0px 5px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 25px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.8);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	/*background-color: rgba(0,0,0,.8);*/
	background-color: #E8EEF4;
}
.popup_max
{
    top: 50px;
    right: 12px;
}
.popup_block
{
    top: 10px;
    left: 10px;
    width: 150px!important;
    padding: 10px;
    color:Red;
}
.popup_min
{
    width: 340px;
    bottom: 20px;
    right: 20px;
}
.handlerCancelMachine
{
    cursor: default !important;
}
.popup_header
{
    width: 100%;
    height: 20px;
    background-color: #5585D5;
    border-radius: 5px 5px 0px 0px;
}
.popup_header .minmaxIcon
{
    background: url("../Content/Images/min_max_icon.png") 0 0 no-repeat ;    
    background-size: 40px Auto;
    height: 20px;
    width: 40px;
    display:block;
    float: right;
    cursor:pointer;
}
.popup_content
{
    width: 97%;
    color: Black;
    padding:10px;
    height:150px;
    overflow-y:auto;
}
.popup_content table thead tr
{
    background-color: lightpink;
    color: #900;
    font-weight:bolder;
}
.popup_content table tr
{
    height:25px;
}
.popup_content table tbody tr:nth-child(2n)
{
    background-color: #E8EEF4;
    color: #900;
}
.popup_content table tbody tr:nth-child(2n + 1)
{
    background-color: white;
}
.popup input[type="button"]
{
    width: 50px;
    padding: 0px !important;
    margin: 0px;
}
.popup input[type="button"]:first-child
{
    width: 70px;
}
.popup input[type="button"]:last-child
{
    width: 55px;
}
.header1
{
    width: 140px;
}
.header2
{
    width: 90px;
}
.header3
{
    width: 80px;
}
.header4
{
    width: 100px;
}
.header5
{
    width: 130px;
}
.header6
{
    width:185px;
}
p.popup_title
{
    padding-left: 10px;
    padding-top: 2px;
    float:left;
    color: White;
    font-size:14px;
    font-weight:bolder;
}
/* datepicker */
.ui-datepicker-trigger
{
    float:right;
    z-index:9;
    position:absolute;
    margin:3px 0 0 -20px;
    cursor:pointer;
}

/* forgot password */
#forgot_pass
{
    padding-bottom:25px;
}
#forgot_pass input[name=submit]
{
    width:120px;
}
#forgot_pass h2
{
    padding-top:20px;
}
#forgot_pass table
{
    width:300px;
    margin:0 auto;
}
#forgot_pass th
{
    width:100px;
}
#forgot_pass th span
{
    color:red;
    font-weight:normal;
}
#forgot_pass td
{
    width:200px;
}

/* from button.css */
/* new container */
#tl_container
{
    background: url("../Content/images/bkgd_tile_1000.gif") repeat-y scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 1119px;
}
#tl_container #masthead
{
    padding-bottom: 20px;
    width: 943px;
}

/* button */

/*  bookingplan_block01 */
#resourceUsage_button
{
    width:120px;
    height:20px;
}
#resourceUsage_button span
{
    float:left;
    padding-top:1px;
    padding-left:9px;
    color:#445566;
}
#resourceUsage_button span:hover
{
   color:#996655;
}
#resource_list
{
    width:1060px;
    padding: 20px 10px 20px 10px;
    left:31%;
}
#resource
{
    width:1060px;    
}
#resource table
{
    border-collapse: collapse;
    margin-bottom:15px;
}
#resource table .odd{
    background:#AED5E1 none;
}
#resource table .child td:first-child
{
    padding-left:15px;
}
#resource table th, #resource table td
{
    border:1px solid #6699CC;    
    font-weight:normal;
    padding:2px 1px;
}
#resource .color_warnning
{
    color:Red;
}
#resource .color_ok
{
    color:Green;
}
#resource .color_total
{
    color:Blue;
}
#bookingplans .Zebra_DatePicker_Icon
{
    margin-top:3px !important;
}
#bookingplans .dayMode
{
    margin-left:50px;
}
.chrome #bookingplans .dayMode
{
    margin-left:25px;
}
#bookingplans
{
     padding-left: 345px;
}
.chrome #bookingplans
{
     padding-left: 365px;
}
#view_daily
{
    padding-left:368px;
}
#view_daily p
{
    display: block;
    height: 19px;
    padding-top: 1px;
    text-align: center;
    width: 50px;
}
#group_day span
{
    float:left;
    margin:1px 0 0 14px;
}
#group_week span
{
    float:left;
    margin:1px 0 0 8px;
}
#group_month span
{
    float:left;
    margin:1px 0 0 5px;
}
.bookingplan_block01
{
    clear:both;
    padding-left:360px;
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden;
}
.bookingplan_block01 p
{
    float:left;
}
.bookingplan_block01 p a
{
    text-decoration:none;
}
.bookingplan_block01 .button
{
    width:50px;
    text-align:center;
    padding:0 !important;
}
.bookingplan_block01 .button a
{
    display:block;
    width:50px;
    padding-top:1px;
    height:19px;
    text-align:center;
}
.bookingplan_date
{
    clear:both;
}
.bookingplan_date p
{
    text-align:center;
}
.bookingplan_paging
{
    clear:both;
    overflow:hidden;
    width:985px;
    padding-bottom:5px;
}
.bookingplan_paging .left
{
   float:left;
   padding:2px 0;   
}
.bookingplan_paging a
{
    text-decoration:none;
    margin-right:0;
}
.bookingplan_paging .center
{
    width:200px;
    text-align:center;
    margin:0 auto;
}
.bookingplan_paging .right
{
    float:right;
    margin-top:-14px;
    padding:2px 0;    
    
}
.bookingplan_paging .left a, .bookingplan_paging .right a
{
    box-shadow: 0 1px 3px #AED5DA inset, 0 -7px #AED5E1 inset, 0 0 3px #AED5DA;
}

/* Booking Plan Detail */
.booking_plan_detail
{
    padding-top:20px;
    clear:both;
}
.booking_plan_detail table
{
    width:680px;
    margin:0 auto 20px auto;
}
.booking_plan_detail table th, .booking_plan_detail table td
{
    padding-bottom:5px;
}
.booking_plan_detail table th
{
    width:100px;
    text-align:left;
    vertical-align:top;   
}
.booking_plan_detail table td
{
    width:200px;
    vertical-align:top;   
}
.booking_plan_detail table input {
    border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
    width:200px;    
}
.booking_plan_detail table select {
    border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
    width:208px;
}
.booking_plan_detail table textarea {
    border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
    width:541px;
}
.booking_plan_detail #ganttChart
{
    margin-bottom:10px;
}
.booking_plan_detail .group_button
{
    text-align:center;
    clear:both;
}
.booking_plan_detail #group_button_user .button
{
    width:150px;
    height:30px;
}

/* Car Using */
#car_using
{
    padding-left:390px;
}
.choose
{
    clear:both;
    padding-top:20px;
}
.choose table
{
    width:600px;
    margin:0 auto;
}
.choose table th
{
    width:100px;
}
.choose table td
{
    width:200px;
}
.choose select
{
    border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
    width:180px;
}

/* Log In*/
.login
{
    clear:both;
    width:500px;
    padding:0 0 0 0; 
    margin:200px auto 0 auto;        
    /*background:#F3FAFB url(../../Content/images/header-logo.gif) 0 0 no-repeat;*/
    background-color:#F3FAFB;
    border:1px solid #5585D5;
    box-shadow:0px 0px 5px blue;
}
.login h2
{
    clear:both;
    padding-bottom:40px;
    text-align:center;
}
.login table
{
    width:290px;
    margin:0 auto;
}
.login table th, .login table td
{
    padding-bottom:5px;
}
.login table th
{
    width:100px;
}
.login table td
{
    width:200px;
}
.login table td input[type=text], .login table td input[type=password]
{
     border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
    width:180px;
}
.login table td input[type=submit]
{
    width:90px;
}
.login img
{
	border:0;
}
.err
{
    color: red;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
}
.login p
{
    text-align:center;
    margin:20px 1px 0 1px;
    clear:both;
    padding:3px 0;
    background:#8899AA none;
    font-size:11px;
    color:#fff;
}
/* Report */
.report
{
    clear:both;
    padding-top:20px;
}
.report fieldset
{
    padding:10px;
    width:340px;
}
.report fieldset table
{
}
.report fieldset table th, .report fieldset table td
{
    padding-bottom:5px;
}
.report fieldset table th
{
    width:60px;
}
.report fieldset table td
{
    width:100px;
}
.report fieldset table select
{
    width:100px;
}
.report fieldset table input[type=submit]
{
    width:100px;
    height:25px;
}
/* Search WH of Driver */
.search_wh_driver
{
    clear:both;
    margin-bottom:20px;
}
.search_wh_driver table
{
    margin:20px auto;
}
.search_wh_driver table input, .search_wh_driver table select
{
     border: 1px solid #CCCCCC;
    color: #444444;    
    padding: 2px;
}
.search_wh_driver table input
{
    width:150px;
}
.search_wh_driver table input[name=biztrip]
{
    width:454px;
}
.search_wh_driver table select
{
    width:158px;
}
.search_wh_driver table th, .search_wh_driver table td
{
    padding-bottom:5px;
}

.search_wh_driver table th
{
    width:100px;
}
.search_wh_driver table td
{
    width:200px;
}
.search_wh_driver table table
{
    margin:5px 0;
}
.search_wh_driver table table th
{
    width:150px;
}
.search_wh_driver table table td
{
    width:150px;
}
/*
.search_wh_driver table table td button
{
    margin:-19px 0 0 87px !important;
}
*/
.search_wh_driver table table input
{
    width:100px;
}
.search_wh_driver table table input[type=radio]
{
    float:left;
    width:20px;
    height:15px;
    margin-top:1px;
}
.ie8 .search_wh_driver table table input[type=radio]
{
    margin-top:-1px;
    border:none;
}
.search_wh_driver table table select
{
    width:80px;
}
.search_wh_driver table table span
{
    float:left;
}
.search_wh_driver table fieldset
{
    border:1px solid #ccc;
    
}
.search_wh_driver .group_button
{
    text-align:center;
}

.search_wh_driver_data table, .search_wh_driver_data table th, .search_wh_driver_data table td
{
    border:1px solid gray;
    border-collapse:collapse;
}
.search_wh_driver_data table thead th
{
    padding:2px 0;
    
}
.search_wh_driver_data table tbody td
{
    padding:2px 0 2px 1px;
}
/* Driver Management */
.driver_management select
{
    width:179px;
}
/* Change Password*/
#change_pass table
{
    width:400px;   
}
#change_pass table th
{
    width:140px;
    text-align:left;
}
#change_pass .button
{
    width:130px;
}
#change_pass table th span
{
    color:Red;
    font-weight:normal;
}
#change_pass .err
{
    clear:both;
    margin:0;
    padding:0;
    text-align:left;
    font-size:11px;
    color:red;
    background:none;
}

/* format money */

.txt_money
{
    text-align:right;
}

/* btnExport */
#btnExport
{
    width:100px;
}
/* carForm */
#carForm select
{
    width:179px;
}

#loadingmessage
{
    display:none; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:#fff none;
    position:absolute;
    z-index:999999;
    text-align:center;
    opacity:0.7;
    filter:alpha(opacity=70);
}
#loadingmessage img
{
    width:150px;
    margin-top:350px;
}

/* help */
.help
{
    clear:both;
    padding:20px 0 0 50px;
}
.help ul li
{
    float:none;
    padding-bottom:5px;
}
#blockData, #blockData span
{
    width:80px !important;
    color: #445566;
}
#blockData span
{
    float:left;
    padding-top:1px;
}
#blockData span:hover
{
    color:#996655;
}
#tbl_block_data th
{
    padding:2px 5px !important;    
}
#tbl_block_data td
{
    text-align: center;
    padding:5px 20px !important;
}
#tbl_block_data #resource
{
    width:722px;
}