﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

/* HEADINGS   
----------------------------------------------------------*/

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    border: medium none;
    color: #FFFFFF;
    font-size: 32px !important;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 12px 0;
    text-shadow: 1px 1px 2px #111111;
}
#leftnenu {
    padding-bottom: 6px;
    width: 210px;
}
#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}


table,#table 
{
    background-color=#fff;
    padding: 30px 30px 15px 30px; 
     border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: inherit;
    margin: 0;
    text-align: left;
}

ul#menu li {
    display: inline;
    list-style: none;
    text-align:left;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
    text-align:left;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    text-align:left;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
    text-align:left;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
    text-align:left;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
    text-align:left;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: none;/* 1px solid #ddd; */
    padding: 15px 0 15px 10px;
    margin: 0px 10px 10px 0;
}

legend {
    font-size:25px;
    color:#965;
}

textarea {
    min-height: 75px;
    width: 100%;
    resize: none;
}
input, textarea
{
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
}
fieldset #cel01
{
    width: 130px !important;
}
fieldset #cel02
{
    width:200px !important;
}
fieldset #cel03,fieldset .cel03
{
    width:125px !important;    
}
fieldset #cel04
{
    
}
input[name=note]
{
    width: 493px !important;
    height:50px;
}
select {
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
    background:none;
}

input[type="submit"] {
    padding: 5px;
}

input[type="button"] {
    /*font-size: 1.2em;*/
    /*padding: 5px;*/
}

.att_img
{
    padding-left: 90px;
    padding-top: 15px;
    vertical-align: top;
}
/* TABLE
----------------------------------------------------------*/

table {
    /*border: solid 1px #e8eef4;*/
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
    
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 12em;
}
input[type="text"]
{
    width: 12em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

fieldset table tr th
{
    background-color: #FFFFFF;
    color:#666;
    border: medium none;    
}

fieldset table tr th span
{
    color:red;
    font-weight:normal;
}
fieldset table tr td
{
    background-color: #FFFFFF;
    color:#666;
    border: medium none;    
}
/*
fieldset table tr td button
{
    margin:-20px 0 0 160px !important;
}
*/
/* table ID*/
#tableId
{
    width: 980px;
}
#tableId th
{
    text-align:center;
}
#tableId tbody tr
{
    cursor: pointer;
}

#tableId .cel01
{
    width:60px;
}
#tableId .cel02
{
    width:140px;
}
#tableId .cel03
{
    width:120px;
}
#tableId .cel04
{
    width:140px;
}
#tableId .cel05
{
    width:120px;
}
#tableId .cel06, #tableId .cel07
{
    width:170px;
}

/* Tables */
table.list tbody td, table.list tbody tr:hover td { border: solid 1px #d7d7d7; }
table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-right-color: #d7d7d7;
    border-top-color: #d7d7d7;
    border-left-color: #d7d7d7;
    border-bottom-color: #999999;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a { color: #666; }

tr.odd, table.list tbody tr.odd:hover {background: #999999; color: #900;}
tr.odd { background: #E8EEF4; }
/*tr.even, table.list tbody tr.even:hover { color: #900; font-weight: bold; }
tr.even { background: #ffd4d4; }*/
tr a, tr:hover a { color: #900; }
tr.odd td, tr.even td { border-color: #fff; }

.active {
    background: #AED5E1;
}

.content-block-left {
    background: #efefef;
    float: left;
    width: 15%;
    padding-right:5px;
}
.mainbody
{
    
    float:none;
    width:70%;
}

.content-block-right {
    background: #efefef;
    float: right;
    width: 15%;
    padding-left:5px;
}
/* car */

fieldset .car_cel01
{
    width: 85px;
}
fieldset .car_cel02
{
    width: 100px;
}
fieldset .car_cel03
{
    width: 40px;
}
fieldset .car_cel04
{
    width: 100px;
}
/* driver*/
.drv_cel03
{
    width:110px !important;
    padding-left:30px;
}
/*button*/

a.sortAsc 
{
    display:block;
    background:url(Images/icon_asc.gif) no-repeat;
    background-position: right;
}
a.sortDesc 
{
    display:block;
    background:url(Images/icon_desc.gif) right no-repeat;
    background-position: right;
}
a.parents,a.noChild
{
    text-decoration: none;
}
tr.children
{
    background-color:White;
}
td.firstSub
{
    text-align: center;
}
td.firstSub a
{
    width: 100%;
    height: 100%;
    display:block;
}
.txt_number
{
    text-align: right;
}
.locked_icon
{
    background:url(Images/check.png) no-repeat;
    background-size: 80px;
    background-position: 0px;
    width: 100%;
    height: 50px;
    display:block;
}