﻿@charset "utf-8";

.header
{
    font-size:21px;
    color:Black;
    margin-bottom:20px;      
}
.margin_bottom_control
{    
    margin:0 0 12px 0;
}
*html .margin_bottom_control
{
    margin:0 0 14px 0;
}
*:first-child+html .margin_bottom_control
{
    margin:0 0 15px 0;
}
.button
{
    width:100px;
}
.first
{
    width:30px;
}
.back
{
    width:30px;
}
.next
{
    width:30px;
}
.last
{
    width:30px;
}
.red_text
{
    color:Red;
    font-size:9px;
}
.even
{
    background-color:#EFFBFB;
}

/*View CarBooking------------------------------*/
div.carbooking_content
{    
    overflow:hidden;    
    width:99%;
    margin-bottom:10px;    
}
div.carbooking_function
{
    margin-bottom:15px;
}
div.carbooking_function div.mode_view
{
    text-align:center;
    height:100%;
}
div.carbooking_function div.carbooking_condition
{
    height:30px;
    width:500px;    
    margin-left:240px;
}
/*div.carbooking_function div.mode_view div
{    
    height:30px;       
} */  
div.carbooking_function div
{
    height:15px;
}    
div.carbooking_function div p
{
    margin:10px 0 0 0 ;
}
div.carbooking_function div p a.link_next
{    
    float:right;
    margin-right:10px;
}
div.carbooking_function div p a.link_previous
{        
    float:left;    
}
div.carbooking_plan_content
{
    width:980px;    
    /*overflow:auto;*/
    overflow:hidden;
    margin-bottom:50px;
}
table.carbooking_calendar_table
{
	border:1px solid #e5e5e5;
    margin-bottom:10px;
    width:99%;        
    border-spacing: 0px;        
    border-collapse: collapse;
}
table.carbooking_calendar_table th
{    
	padding: 2px;	
	white-space:nowrap;	
    border:1px solid #e5e5e5;
    color:#6c6c6c;
    background:#ebebeb;
}
table.carbooking_calendar_table tr
{
    border: 1px solid;
	padding: 2px;
}
table.carbooking_calendar_table td
{    
	padding: 2px;
	white-space:nowrap;	
    border:1px solid #e5e5e5;
    text-align:center;
    margin:5px 2px; 
}
table.carbooking_calendar_table th.car_plate
{
    width: 100%;
    /*border: 5px;*/
    white-space:nowrap    
}
table.carbooking_list_plan_table
{    
	width:100%;
	border:1px solid #e5e5e5;
    margin-bottom:10px;           
	border-spacing: 0px;		
	border-collapse: collapse;
}
table.carbooking_list_plan_table th
{    
	padding: 4px;	
	white-space:nowrap;
	border:1px solid #e5e5e5;
    color:#6c6c6c;
    background:#ebebeb;
}
table.carbooking_list_plan_table tr
{
    border: 1px solid;
	padding: 2px;
}
table.carbooking_list_plan_table td
{    
	padding: 2px 4px;
	white-space:nowrap;
	border:1px solid #e5e5e5;
    text-align:center;
    margin:5px 5px;
}
table.carbooking_list_plan_table th.car_plate
{
    width: 100%;
    /*border: 5px;*/
    white-space:nowrap    
}
table.carbooking_plan_table
{	
	border:1px solid #e5e5e5;
    margin-bottom:10px;
    width:99%;        
    border-spacing: 0px;        
    border-collapse: collapse;      
}
table.carbooking_plan_table th
{    
	padding: 2px;
    border:1px solid #e5e5e5;
    color:#6c6c6c;
    background:#ebebeb;
}
table.carbooking_plan_table tr
{
    border:1px solid #e5e5e5;
	padding: 2px;	
}
table.carbooking_plan_table td
{    
	padding: 2px;
	border:1px solid #e5e5e5;
    text-align:center;
    margin:5px 2px; 
}
table#carbooking_search td table#carbooking_search_content
{
    
}
table#carbooking_search td table#carbooking_search_content th
{
    text-align:left;
    vertical-align:text-top;
    font-weight:normal;
}
table#carbooking_search td table#carbooking_search_content td
{
    width:225px;
}
table#carbooking_search td table#carbooking_search_content td span
{
    float:left;
    margin-right:10px;    
}
table#carbooking_search
{
    margin-bottom:10px;
}
table#carbooking_search th
{
    text-align:left;
    vertical-align:text-top;
    font-weight:normal;
}
table#carbooking_search td
{
    width:170px;
}
table#carbooking_search p
{
    text-align:center;
    margin: 10px 0 0 0;
}
table#carbooking_search td input
{    
    width:150px;
}
table#carbooking_search td input.checkbox
{    
    width:auto;
    margin-left:10px;
}
table#carbooking_search td input.text_small
{
    float:left;
    width:130px;
}
table#carbooking_search td input.textbox
{    
    width:415px;
}
table#carbooking_search td input.button
{    
    width:73px;
    margin-right:5px;
}
table#carbooking_search td textarea
{    
    width:415px;
    height:50px;
    resize:vertical;
}
table#carbooking_search td select
{
    width:155px;
}
table#carbooking_search td select.listbox
{
    width:410px;
}
table#carbooking_search td select.combobox
{
    width:415px;
}
a.dp-choose-date {
    float: left;
    width: 16px;
    height: 16px;    
    margin: 2px 3px 0;
    display: block;    
    overflow: hidden;
    background: url(../Images/calendar.png) no-repeat; 
}
table#carbooking_addDriver_table th
{
    font-weight:normal;
    text-align:left;
    /*width:110px;*/
}
table#carbooking_addDriver_table td
{
    width:180px;    
}
table#carbooking_addDriver_table td textarea
{    
    width:150px;
    height:100%;
    resize:vertical;
}
table#carbooking_addDriver_table td p
{    
    text-align:center;
}
table#carbooking_addDriver_table td textarea
{
    width:415px;
    height:50px;
    resize:vertical;
}
table#carbooking_addDriver_table td input.textbox
{
    width:415px;
    /*float:left;*/
}
table#carbooking_addDriver_table td input
{
    width:150px;
    /*float:left;*/
}
table#carbooking_addDriver_table td input.text_small
{
    width:120px;
    float:left;
}
table#carbooking_addDriver_table td input.button
{
    width:70px;
}
table#carbooking_addDriver_table td input.button_small
{
    width:30px;
}
table#carbooking_addDriver_table td select
{
    width:150px;
}
#add_car_record_table th
{
    font-weight:normal;
    text-align:left;
    padding-right:10px;
    width:120px;    
}

#add_car_content
{    
    width:844px;
    margin-top:20px;    
}
#add_car_record
{
    width:650px;
    margin:0 0 10px 0;
}

/*User Manager(user_manager.aspx)---------------------------------------*/
#forgot_password_content
{    
    width:844px;
    height:270px;    
    margin-top:230px;    
    margin-left:120px;    
}

#user_mana_content
{
    /*width:836px;*/
    margin-top:15px;    
}
#user_mana_condition
{
    width:836px;
    height:120px;
    margin-bottom:30px;
    margin-left:160px;    
}
*html #user_mana_condition
{
    width:846px;
    height:70px;    
    margin-bottom:0px;   
}
#user_mana_condition_text
{
    /*float:left;    */
    width:510px;
    margin-right:10px;
}
#user_mana_condition_button
{
    width:20px;
    float:left;
}
#user_mana_condition_button input
{
    margin-bottom: 5px;    
}
#user_mana_result
{
    width:100%;

}
.user_mana_result_table
{
    border:1px solid #e5e5e5;
    margin-bottom:10px;
    width:99%;        
	border-spacing: 0px;		
	border-collapse: collapse;			
}
.user_mana_result_table td input.deleteItem
{
    /*width:8px;    */
    clear:left;
    text-align:center;
}
.user_mana_result_table_userName
{    
    width:84px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user_mana_result_table_name
{    
    width:70px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user_mana_result_table_kana
{    
    width:70px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user_mana_result_table_userType
{    
    width:80px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user_mana_result_table_email
{    
    width:120px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user_mana_result_table_status
{    
    width:80px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
*html .user_mana_result_table_status
{
    width:85px;    
}
*:first-child+html .user_mana_result_table_status
{
    width:85px;    
}
*:first-child+html .user_mana_result_table_btnCommand
{
    width:90px;
}
.user_mana_result_table_btnCommand
{
    width:100%;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
*html .user_mana_result_table_btnCommand
{
    width:160px;    
}
*:first-child+html .user_mana_result_table_btnCommand
{
    width:156px;    
}

.user_mana_result_table td
{
    border:1px solid #e5e5e5;
    text-align:center;
    margin:5px 2px;        
}   
.user_mana_result_table td input
{
    /*float:left;*/
}
.user_mana_result_table th
{
    border:1px solid #e5e5e5;
    color:#6c6c6c;
    background:#ebebeb;
}
.user_mana_result_table th img
{
    margin-left:5px;
}
#user_mana_result_button
{
    float:left;
    margin-bottom:5px;
}
#user_mana_result_paging
{
    text-align:center;
}
table#user_mana_table
{
    margin-bottom:10px;
}
table#user_mana_table th
{
    /*width:90px;*/
    padding-right:10px;
    font-weight:normal;
    text-align:left;
}
table#user_mana_table td
{
    width:130px;
    margin-right:20px;
    width:170px;
}
table#user_mana_table td input
{
    width:135px;
    width:150px;        
}
table#user_mana_table td input.text_small
{
    width:120px;
    float:left;
}
table#user_mana_table td input.textbox
{
    width:433px;    
}
table#user_mana_table td input.button
{
    width:70px;
}
table#user_mana_table td select
{
    width:155px;
    margin-right:20px;
}
/* Login------------------------------*/
#login_record
{    
    width:300px;
    height:60px;    
    margin:0 0 10px 85px;    
}
*html #login_record
{
    margin:0 0 10px 0;
}
*:first-child+html #login_record
{
    margin:0 0 10px 0;
}
#login_record h1
{ 
    margin-top:30px;
}  
#login_record .title
{
    float:left;
    width:80px;
    height:50px;
    margin-right:10px;
}
#login_record .title p
{
    margin:0 0 13px 0;
}
*html #login_record .title p
{
    margin:0 0 20px 0;
}
*:first-child+html #login_record .title p
{
    margin:0 0 20px 0;
}
#login_record .textbox
{    
    float:left;
    width:200px;
}
#login_record .textbox input
{
    margin-bottom:6px;
    width:180px;    
}
#login_content
{    
    width:450px;
    height:300px;
    margin:10% auto 0;
    border:1px solid #cccccc;
    background-color:#f3fafb;
    text-align:center;      
}
#login_content p
{
    text-align:left;
    margin:0px;
}
#login_content h1
{
    text-align:center;
    margin-top:30px;
}
#login_content #btnLogin
{
    text-align:center;
    margin-left:13px;    
}
*html #login_content #btnLogin
{
    margin-right:40px;
}
*:first-child+html #btnLogin
{
    margin-right:60px;
}
#login_content_record
{
    height:auto;
    margin-bottom:50px;
}