﻿@using ThanhNienNews.Models

<!DOCTYPE HTML PUBLIC " -//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:uixsltutils="UserInterface:XsltUtils">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=0.3, maximum-scale=5, initial-scale=1.0, user-scalable=yes" />
    <meta name="title" content="Administrtor" />
    <link rel="image_src" href="" />

    <meta http-equiv="Cache-control" content="Public" />
    <meta http-equiv="Expires" content="600" />
    <meta http-equiv="Refresh" content="1200" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="vnn_category_alias" content="home" />

    <link rel="apple-touch-icon" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-ipad-retina.png" />
    <link rel="apple-touch-startup-image" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/startup.png" />
    <title>@ViewBag.Title</title>

    <link type="image/x-icon" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/css/style-v1-0-16.css" />
    <link rel="stylesheet" type="text/css" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/css/print.css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommonSystem.js")" type="text/javascript"></script>
    <script type="text/javascript">
        //permission = "@@loginUser.permission";
        var root = location.protocol + "//" + location.host + '@Url.Content("~/")';

        root = root.slice(0, -1);

    </script>
    <style>

        #container {
            width: 100%;
        }

        #left {
            float: left;
            width: 25%;
        }

        #right {
            float: right;
            width: 65%;
        }

        #center {
            float: left;
            margin: 0 auto;
            width: 700px;
            padding-top:130px;
        }

       
        h2.left {
            color: #404040;
            background-color: #ffffff;
            font-size: 14px;
            margin-bottom: 4px;
            padding-bottom: 0px;
            margin-top: 0px;
            padding-top: 0px;
            font-weight: bold;
        }
       
        #leftcolumn a:link, #leftcolumn a:visited, #leftcolumn a:hover, #leftcolumn a:active {
           
            font-size: 13px;
           
           
        }
       
    </style>
</head>
<body>
    <div class="top-page">
        <div class="clearfix">
            <div class="left"><a href="/" class="ButtonImage btnLogo" title="Trang chủ"><span>Trang chủ</span></a></div><div class="MenuTop right">
                <ul>
                    <li><a href="#" class="label ButtonImage btnNotify" style="display:none;"><span>Notify</span><b class="number"> </b></a><div class="SubMenuBox"><div class="BoxStyle1Item boxNorify"><div class="BoxStyle1Item-Head">Danh sách thông báo</div><div class="BoxStyle1Item-Body"><ul class="boxNorify-List"> </ul></div><div class="BoxStyle1Item-Footer"><div class="clearfix"><div class="left"><a href="#" class="boxNorify-BtnReadmore">Xem thêm</a></div><div class="right"><a href="#" class="boxNorify-BtnMaskRead">Đánh dấu đọc hết</a></div></div></div></div></div></li>
                    <li>  <a href="~/Account/Logoff" class="labeloff"><span>Thoát</span></a></li> <li>
                        
                           <a href="~/Admin/ChangePassword" class="label ButtonImage btnUser"><span>User</span></a><div class="SubMenuBox"><div class="BoxStyle1Item"><div class="BoxStyle1Item-Body"><ul class="UserMenu"> </ul></div></div></div></li>
                    <li><a href="#" class="label ButtonImage btnSearch"><span>Search</span></a><div class="SubMenuBox"><div class="BoxStyle1Item"><div class="BoxStyle1Item-Body"><ul class="BoxRowStyle"><li><div class="BoxRowStyle-Row clearfix"><input type="text" id="inputSearchKeyword" value="" placeholder="Từ khóa..." /><button type="button" id="inputSearchButton">Tìm kiếm</button></div></li><li><div class="BoxRowStyle-Row"><div class="clearfix"><div class="left"><select id="inputSearchOpType"><option value="0">Tất cả</option><option value="1">Bài viết</option><option value="2">Ảnh</option><option value="3">Video</option></select></div><div class="right"><select id="inputSearchOpCate"><option selected="selected" value="a">Tất cả các chuyên mục</option><option value="xa-hoi">Xã hội</option><option value="cong-nghe-thong-tin-vien-thong">CNTT - Viến thông</option><option value="giao-duc">Giáo dục</option><option value="chinh-tri">Chính trị</option><option value="phong-su-dieu-tra">Phóng sự điều tra</option><option value="kinh-te">Thị trường</option><option value="quoc-te">Quốc tế</option><option value="van-hoa">Văn hóa</option><option value="khoa-hoc">Khoa học</option><option value="ban-doc-phap-luat">Bạn đọc</option></select></div></div></div></li></ul></div></div></div></li>
                    <li><a href="#" class="label ButtonImage btnMenuStandard"><span>Standard version</span></a></li>
                    <li>
                        <a href="#" class="label ButtonImage btnMenuCategory"><span>Menu</span></a><div class="SubMenuBox">
                            <div class="BoxStyle1Item">
                                <div class="BoxStyle1Item-Body">
                                    <ul class="PageMenuTop2 clearfix"><li><span class="icon16 icon-home"> </span><a href="http://m.vietnamnet.vn/" class="red">Trang chủ</a></li><li><span class="bulletBox bulletBox1"> </span><a href="/vn/quoc-te/">Quốc tế</a></li><li><span class="bulletBox bulletBox2"> </span><a href="/vn/xa-hoi/">Xã hội</a></li><li><span class="bulletBox bulletBox7"> </span><a href="/vn/cong-nghe-thong-tin-vien-thong/">CNTT-Viễn thông</a></li><li><span class="bulletBox bulletBox3"> </span><a href="/vn/van-hoa/">Văn hóa</a></li><li><span class="bulletBox bulletBox4"> </span><a href="/vn/giao-duc/">Giáo dục</a></li><li><span class="bulletBox bulletBox5"> </span><a href="/vn/khoa-hoc/">Khoa học</a></li><li><span class="bulletBox bulletBox6"> </span><a href="/vn/chinh-tri/">Chính trị</a></li><li><span class="bulletBox bulletBox8"> </span><a href="/vn/doi-song/">Đời sống</a></li><li><span class="bulletBox bulletBox9"> </span><a href="/vn/ban-doc-phap-luat/">Bạn đọc</a></li><li><span class="bulletBox bulletBox10"> </span><a href="/vn/kinh-te/">Kinh tế</a></li><li><span class="bulletBox bulletBox11"> </span><a href="http://m.thethao.vietnamnet.vn/" target="_blank">Thể thao</a></li></ul><ul class="PageMenuTop">
                                        <li><a href="http://mnews.vietnamnet.vn/" style="color:#C10001 !important;"><span class="icon24 icon-mnews"> </span>Phiên bản M-News</a></li>
                                        <li>
                                            <a href="/vn/thong-ke/">
                                                <span class="icon24 icon-24h"> </span>24h qua
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://m.clip.vietnamnet.vn/">
                                                <span class="icon24 icon-clip"> </span>Clip
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/the-gioi-anh/">
                                                <span class="icon24 icon-photo"> </span>Thế giới ảnh
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/xa-hoi/an-toan-giao-thong/">
                                                <span class="icon24 icon-atgt"> </span>An toàn giao thông
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/chuyen-trang/oto-xemay/">
                                                <span class="icon24 icon-car"> </span>Ô tô-Xe máy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/bao-ve-nguoi-tieu-dung/">
                                                <span class="icon24 icon-shield"> </span>Bảo vệ người tiêu dùng
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/doi-song/du-lich/">
                                                <span class="icon24 icon-plane"> </span>Du lịch
                                            </a>
                                        </li>
                                    </ul><center>
                                        <a href="http://m.vietnamnet.vn/" title="VietNamNet" class="ButtonImage btnVnn">
                                            <span>
                                                VietNamNet
                                            </span>
                                        </a><a title="Thể thao" class="ButtonImage btnThethao" target="_blank" href="http://m.thethao.vietnamnet.vn/"><span>Thể thao</span></a><a title="Tuần Việt Nam" class="ButtonImage btnTuanVietNam" target="_blank" href="http://tuanvietnam.vietnamnet.vn/">
                                            <span>
                                                Tuần Việt Nam
                                            </span>
                                        </a><a title="VEF" class="ButtonImage btnVef" target="_blank" href="http://vef.vn/"><span>VEF</span></a><a title="Bất Động Sản" class="ButtonImage btnVland" target="_blank" href="http://m.batdongsan.vietnamnet.vn/">
                                            <span>
                                                Bất Động Sản
                                            </span>
                                        </a><a title="Tin tức Online" class="ButtonImage btnTintucOnline" target="_blank" href="http://tintuconline.com.vn/">
                                            <span>
                                                Tin tức Online
                                            </span>
                                        </a><a title="2 Sao" class="ButtonImage btn2Sao" target="_blank" href="http://2sao.vn/">
                                            <span>
                                                2 Sao
                                            </span>
                                        </a><a title="English" class="ButtonImage btnEn" target="_blank" href="http://m.english.vietnamnet.vn/">
                                            <span>
                                                English
                                            </span>
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="container">
        <table><tr><td valign="top" width="200px" style="" id="leftcolumn">
    
        <b>Quản lý</b><br />
        <a href="~/Admin/Index">Tin tức</a><br />
        <a href="~/Admin/ViewCategory">Danh mục</a><br />
        <a href="~/Admin/ViewCategory">Danh mục</a><br />
        <a href="~/Admin/ViewCategory">Danh mục</a><br />
        <a href="~/Admin/ViewCategory">Danh mục</a><br />

        <a href="~/Admin/ViewCategory">Danh mục</a><br />
        <a href="~/Admin/ViewCategory">Danh mục</a><br />
        <a href="~/Admin/ViewCategory">Danh mục</a><br />
  
</td><td style="">
    <div style="border-left: thin dotted #ff0000; padding-left: 17px">
        @RenderBody()
    </div>
</td></tr></table>
       
    </div>
           
    <br /><br /><br />
    <div class="footer-page">
        <p class="a-c" style="background-color: #494949;"><a href="#top" class="ButtonImageText btnToTop"><span>Về đầu trang</span></a></p>
    
  <p class="a-c c-g2 f-11">
            © 2014-2015  All rights reserved.
        </p>
    </div>

</body>
</html>

