﻿

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Blogging
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20090208

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="http://timdodamat.com/" />
    <title>Tìm đồ đã mất, tìm đồ thất lạc miễn phí,tim do da mat ,tim do that lac</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="tìm đồ đã mất,tim do da mat,tìm đồ,trả đồ ,mất giấy tờ xe, đánh rơi,trả đồ đã nhặt,kiếm đồ" />
    <meta name="description" content="Chuyên cung cấp thông tin tìm đồ ,trả đồ vật đã mất,van phong do that lac, Nếu ai cũng có tấm lòng ,thì thế gian mãi màu hồng yêu thương" />
    <link href="http://webmessenger.yahoo.com/smiley.ico" type="image/ico" rel="shortcut icon" />
    <link href="style.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="js/common.js"></script>


    <style>
        a {
            text-decoration: none;
        }
    </style>








</head>
<body>

    <script src='http://www.unisolve.com.au/javascript/wz_dragdrop.js'></script>
    <img alt="" src="images/mare_n_foal_e0.gif" class="center" name="tux" />
    <script type="text/javascript" language="javascript">
        SET_DHTML("tux" + CURSOR_MOVE);

    </script>

    <style>
        div.floating-menu {
            position: fixed;
            background: #fff4c8;
            border: 1px solid #ffcc00;
            width: 250px;
            z-index: 100;
        }

            div.floating-menu a, div.floating-menu h3 {
                display: block;
                margin: 0 0.5em;
            }
    </style>

    <div style="padding-right: 150px; float: right;" id='menutopxx'>
        <div class="floating-menu">
            <h3>Tiện ích</h3>

            <a href="http://nguyenvantrong.wordpress.com/trinh-duyet-web-danh-cho-tre-em-tieng-viet-mien-phi/" title='Trình duyệt web dành cho trẻ em'><img src='http://ongtruongkimson.xtgem.com/images/new_icon_01.gif' />Trình duyệt web dành cho trẻ em</a>



            <a href="http://phat.timdodamat.com" title='Học Phật trên mobile'>Học Phật trên mobile</a>
            <a href="http://up.timdodamat.com" title='Up file và download file bằng điện thoại di động'>Up file và download file bằng điện thoại di động</a>
            <a href="teen.aspx" title='Dịch ngôn ngữ tuổi teen'>Dịch ngôn ngữ tuổi teen</a>

        </div>
    </div>

    <form method="post" action="" id="Form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTQ3ODQzODg5OGRkugwoUxg5W7SANPMPiVxWB10490OawgQv9TyxVrWKuD0=" />
        </div>

        <div class="aspNetHidden">

            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAORIUkItDim9QmoHRuSIyLvV1+TMAJHuz04grwl03Hz+IjyADDuNhjmEXqXnUuiiYv7JTZJ5v4UUv0TfKq8CKghQualdPkHtBQOE72ui/quLQ==" />
        </div>
        <div id="wrapper">









        </div>
        <div id="header">
            <div id="menu">
                <ul>
                    <li class="current_page_item">

                        <a href="http://www.timdodamat.com">Trang chủ</a>
                    </li>
                    <li>

                        <a href="bao-mat-do.html">Báo mất đồ</a>
                    </li>
                    <li><a href="bao-tra-do.html">Báo trả đồ</a></li>

                    <li><a href="lien-he.html">Liên hệ</a></li>

                </ul>
            </div>
            <!-- end #menu -->
            <div id="search">

                <fieldset>

                    <div>
                        <input name="UCHeader1$searchtext" type="text" maxlength="200" id="UCHeader1_searchtext" />
                        <input type="submit" name="UCHeader1$searchsubmit" value="Tìm" id="UCHeader1_searchsubmit" />
                </fieldset>

            </div>

        </div>
        <!-- end #search -->
        </div>
        <!-- end #header -->
        <div id="logo">
            <br /><a title="Trình duyệt web dành cho trẻ em" href="http://nguyenvantrong.wordpress.com/trinh-duyet-web-danh-cho-tre-em-tieng-viet-mien-phi/"><img src="http://ongtruongkimson.xtgem.com/images/new_icon_01.gif">Trình duyệt web dành cho trẻ em</a>

        </div>
        <hr />
        <!-- end #logo -->
        <!-- end #header-wrapper -->


        <div id="page">
            <div id="content">
               
                @RenderBody()

            </div>
            <!-- end #content -->









            <div id="sidebar">
                <ul>
                    <li>
                        <h2>Hỏi đáp  <a onclick='window.location=window.location' href='#ss' name='ss'>[câu khác]</a> </h2>


                        <p><a href="tim-do-da-mat-tim-giay-to-mat-giay-to-Nguoi-nha-cua-de-tu-tin-theo-Co-oc-Giao-va-khong-le-Phat-xin-hoi-co-nen-dung-thai-do-mac-nhien-doi--Phap_Su_Tinh_Khong37">  Người nhà của đệ tử tin theo Cơ Ðốc Giáo và không lễ Phật, xin hỏi có nên dùng thái độ mặc nhiên đối với họ?  (<b>Xem chi tiết</b>)</a></p>


                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .........................................................................
                        <div id="viewtd" style='display:none'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="tdph.aspx?key_word=phật">TỪ ĐIỂN PHẬT HỌC</a> [nhập từ cần tìm và chờ 1 giây]. <br /><br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input name="keyword" onkeyup="SendQuery(this.value)"
                                   style="WIDTH:150px" value="" autocomplete="off"><span style='background-color:Aqua' id='viewing'>đang tìm</span>
                            <div id='autocomplete'></div>

                            <br />

                            <script src='/js/jquery.js'></script>
                            <script>

                                ///auto complete
                                var count = 0;
                                var countext = 4;
                                var valuetext = '';
                                function SendQuery(valuetextq) {
                                    valuetext = valuetextq;

                                    count = count + 1;
                                    if (valuetext != "")
                                        setTimeout("callGo(" + count + ")", 1000);
                                }

                                function dropDownGo(currCount) {

                                }


                                function callGo(currCount) {

                                    if (currCount == count) {
                                        count = 0;
                                        $('#viewing').show();
                                        ///////
                                        $.ajax({
                                            type: "GET",
                                            url: "tdph.aspx?r=" + Math.random(),
                                            cache: false,
                                            async: false,
                                            data: "key_word=" + encodeURIComponent(valuetext),
                                            success: function (data) {

                                                $('#autocomplete').html(data);
                                                $('#viewing').hide();
                                                /*  var JObject = eval("("+ data +")");

                                     for(var i = 0; i < JObject .Table.length; i++)
                                                {

                                        var giaban = JObject.Table[i].giaban;
                                                var SoDienThoai = JObject.Table[i].SoDienThoai;
                                                $('#autocomplete').append(	 $('<option ></option>').val(username).html(mahoa)	);
                                                }
                                                */

                                            }

                                        });
                                    }

                                }
                                $(document).ready(loadNow());
                                function loadNow() {
                                    $('#viewing').hide();
                                }
                            </script>

                        </div>

                    </li>

                    <li>

                        <h2>Đồ mới đem trả</h2>
                        <ul>


                            <li title='Nhặt được bao đựng dây nịt'>
                                <b>1. </b>
                                <a href="Nhat-duoc-bao-dung-day-ni-id-5186">
                                    Nhặt được bao đựng dây nịt

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='nhặt được giấy tờ xe, cmnd'>
                                <b>2. </b>
                                <a href="nhat-duoc-giay-to-xe-cmn-id-5182">
                                    nhặt được giấy tờ xe, cmnd

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Cảnh giác lừa đảo'>
                                <b>3. </b>
                                <a href="Canh-giac-lua-da-id-5177">
                                    Cảnh giác lừa đảo

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='tôi có mất giấy cmnd tên nguyễn thị nhớ a . c nào nhặt được xin hậu tạ'>
                                <b>4. </b>
                                <a href="toi-co-mat-giay-cmnd-ten-nguyen-thi-nho-a--c-nao-nhat-duoc-xin-hau-t-id-5147">
                                    tôi có mất giấy cmnd tên...

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='giấy chứng minh thư'>
                                <b>5. </b>
                                <a href="giay-chung-minh-th-id-5078">
                                    giấy chứng minh thư

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='nhặt được ipad'>
                                <b>6. </b>
                                <a href="nhat-duoc-ipa-id-5075">
                                    nhặt được ipad

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='cmnd, thẻ đoàn viên, giấy phép lái xe, cà vẹt xe, thẻ atm nguyễn thị chín'>
                                <b>7. </b>
                                <a href="cmnd-the-doan-vien-giay-phep-lai-xe-ca-vet-xe-the-atm-nguyen-thi-chi-id-5045">
                                    cmnd, thẻ đoàn viên, giấy phép...

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='3 Ba lo de quyen tai SB noi bai.Da gui lai cho Bao Ve San Bay'>
                                <b>8. </b>
                                <a href="3-Ba-lo-de-quyen-tai-SB-noi-bai-Da-gui-lai-cho-Bao-Ve-San-Ba-id-5026">
                                    3 Ba lo de quyen tai SB noi...

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Tìm chủ nhân thẻ ATM mang tên Bùi Thị Anh Linh'>
                                <b>9. </b>
                                <a href="Tim-chu-nhan-the-ATM-mang-ten-Bui-Thi-Anh-Lin-id-4994">
                                    Tìm chủ nhân thẻ ATM mang tên...

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='BẰNG THPT....'>
                                <b>10. </b>
                                <a href="BANG-THPT--id-4992">
                                    BẰNG THPT....

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='BẰNG THPT...'>
                                <b>11. </b>
                                <a href="BANG-THPT--id-4991">
                                    BẰNG THPT...

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='nguyen minh vu'>
                                <b>12. </b>
                                <a href="nguyen-minh-v-id-4989">
                                    nguyen minh vu

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Cầm nhầm bao gạo màu đỏ'>
                                <b>13. </b>
                                <a href="Cam-nham-bao-gao-mau-d-id-4980">
                                    Cầm nhầm bao gạo màu đỏ

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Túi ni lông đen'>
                                <b>14. </b>
                                <a href="Tui-ni-long-de-id-4979">
                                    Túi ni lông đen

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Giấy phép lái xe oto hang b2 . Tên :Nguyễn thị Thu trang sinh năm 1984. Địa chỉ Nguyễn Tuân Nhân chính thanh xuân hà nội'>
                                <b>15. </b>
                                <a href="Giay-phep-lai-xe-oto-hang-b2--Ten-Nguyen-thi-Thu-trang-sinh-nam-1984-Dia-chi-Nguyen-Tuan-Nhan--id-4972">
                                    Giấy phép lái xe oto hang b2 ....

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Nhặt được bút bi'>
                                <b>16. </b>
                                <a href="Nhat-duoc-but-b-id-4962">
                                    Nhặt được bút bi

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='nhặt được xe máy'>
                                <b>17. </b>
                                <a href="nhat-duoc-xe-ma-id-4945">
                                    nhặt được xe máy

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Sổ hộ khẩu'>
                                <b>18. </b>
                                <a href="So-ho-kha-id-4937">
                                    Sổ hộ khẩu

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='NGUYỄN HỮU ĐỨC, An Bình Tây, Ba Tri, Bến Tre. Giấy CMND, cavet xe, 2 bằng lái xe, Bảo hiểm xe (Nguyen Huu Duc)'>
                                <b>19. </b>
                                <a href="NGUYEN-HUU-DUC-An-Binh-Tay-Ba-Tri-Ben-Tre-Giay-CMND-cavet-xe-2-bang-lai-xe-Bao-hiem-xe--id-4923">
                                    NGUYỄN HỮU ĐỨC, An Bình Tây,...

                                    (<b>...xem</b>)
                                </a>
                            </li>



                            <li title='Đăng ký xe máy 29H1-186.95'>
                                <b>20. </b>
                                <a href="Dang-ky-xe-may-29H1-186-9-id-4875">
                                    Đăng ký xe máy 29H1-186.95

                                    (<b>...xem</b>)
                                </a>
                            </li>



                        </ul>
                    </li>

                    <li>

                        <h2>Đồ mới mất</h2>
                        <ul>

                            <li title='Bị mất CMND'>
                                <b>1. </b>  <a href="Bi-mat-CMN-id-5191">
                                    Bị mất CMND

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='bi roi 1 bop mau den : mang ten CHAU HANH HOA gom : CMND , GPLX , ca vet xe'>
                                <b>2. </b>  <a href="bi-roi-1-bop-mau-den--mang-ten-CHAU-HANH-HOA-gom--CMND--GPLX--ca-vet-x-id-5190">
                                    bi roi 1 bop mau den : mang...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='1 cái nhẫn hình con thỏ'>
                                <b>3. </b>  <a href="1-cai-nhan-hinh-con-th-id-5189">
                                    1 cái nhẫn hình con thỏ

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Tôi bị mất chiếc nhẫn hình con thỏ'>
                                <b>4. </b>  <a href="Toi-bi-mat-chiec-nhan-hinh-con-th-id-5188">
                                    Tôi bị mất chiếc nhẫn hình con...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='tui xach mau nau be trong vo vi dung cac loai giay to tuy than mang ten vuong thi mo va tran the duong'>
                                <b>5. </b>  <a href="tui-xach-mau-nau-be-trong-vo-vi-dung-cac-loai-giay-to-tuy-than-mang-ten-vuong-thi-mo-va-tran-the--id-5187">
                                    tui xach mau nau be trong vo...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='mất xe máy ở gò vấp'>
                                <b>6. </b>  <a href="mat-xe-may-o-go-va-id-5185">
                                    mất xe máy ở gò vấp

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='cmnd tên phạm thái tôn'>
                                <b>7. </b>  <a href="cmnd-ten-pham-thai-to-id-5184">
                                    cmnd tên phạm thái tôn

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='1 cmnd 1 đăng ký xe 1 bằng lái xe'>
                                <b>8. </b>  <a href="1-cmnd-1-dang-ky-xe-1-bang-lai-x-id-5183">
                                    1 cmnd 1 đăng ký xe 1 bằng lái...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Mất máy chụp hình canon'>
                                <b>9. </b>  <a href="Mat-may-chup-hinh-cano-id-5181">
                                    Mất máy chụp hình canon

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Tìm bóp nam bị mất'>
                                <b>10. </b>  <a href="Tim-bop-nam-bi-ma-id-5180">
                                    Tìm bóp nam bị mất

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Tìm bóp nam bi mất'>
                                <b>11. </b>  <a href="Tim-bop-nam-bi-ma-id-5179">
                                    Tìm bóp nam bi mất

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Mất hết giấy tờ cá nhân'>
                                <b>12. </b>  <a href="Mat-het-giay-to-ca-nha-id-5178">
                                    Mất hết giấy tờ cá nhân

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='mất ví Đỗ Thùy Linh'>
                                <b>13. </b>  <a href="mat-vi-Do-Thuy-Lin-id-5176">
                                    mất ví Đỗ Thùy Linh

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='mất xe máy Nouvo LX ở công ty Sài gòn thắng lợi'>
                                <b>14. </b>  <a href="mat-xe-may-Nouvo-LX-o-cong-ty-Sai-gon-thang-lo-id-5175">
                                    mất xe máy Nouvo LX ở công ty...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Bóp bị mất! Ngày 1/6/2014'>
                                <b>15. </b>  <a href="Bop-bi-mat-Ngay-1-6-201-id-5174">
                                    Bóp bị mất! Ngày 1/6/2014

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Mất bóp Trần Nguyên Vũ'>
                                <b>16. </b>  <a href="Mat-bop-Tran-Nguyen-V-id-5173">
                                    Mất bóp Trần Nguyên Vũ

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='bằng lái xe máy A2, bằng lái xe ô tto B2, chứng minh nhân dân mang tên Ngô Gia Cường'>
                                <b>17. </b>  <a href="bang-lai-xe-may-A2-bang-lai-xe-o-tto-B2-chung-minh-nhan-dan-mang-ten-Ngo-Gia-Cuon-id-5172">
                                    bằng lái xe máy A2, bằng lái...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='Mất ví giấy tờ xe máy ablade, bằng lái, thẻ atm viettinbank mang tên Lương Duy Uy'>
                                <b>18. </b>  <a href="Mat-vi-giay-to-xe-may-ablade-bang-lai-the-atm-viettinbank-mang-ten-Luong-Duy-U-id-5171">
                                    Mất ví giấy tờ xe máy ablade,...

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='tin mất ví'>
                                <b>19. </b>  <a href="tin-mat-v-id-5170">
                                    tin mất ví

                                    (<b>...xem</b>)
                                </a>
                            </li>

                            <li title='ngô thái bão'>
                                <b>20. </b>  <a href="ngo-thai-ba-id-5169">
                                    ngô thái bão

                                    (<b>...xem</b>)
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
        <!-- Start Footer -->







        <div id="footer">
            <p>Bạn có thể dùng tất cả thông tin trên website mà không cần xin phép trongtayninh@gmail.com<br />Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
        </div>
        <center>	<img border="0" src="http://cb.amazingcounters.com/counter.php?i=2528013&c=7584352"></center>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-7766918-1");
                pageTracker._trackPageview();
            } catch (err) { }</script>
        <!-- end #footer -->
        </div>
        <span style="display:none">
            <a href='http://www.raovat123.com/t.965919.mat-giay-to-hay-nho-timdodamat-com.html'>http://www.raovat123.com/t.965919.mat-giay-to-hay-nho-timdodamat-com.html</a>
        </span>
        <img alt="Page Ranking Icon" src="http://www.prchecker.info/PR3_img.gif" />
    </form>

    <script src='js/cookie.js'></script>
    <script>

        var cookienet = '';
        $(document).ready(loadNow11());
        function loadNow11() {

            if ($.cookie('okshow') == null) {

                cookienet = $.cookie('ASP.NET_SessionId');
                $.cookie('okshow', '1', { expires: 1 });
            } else {
                //if ($.cookie('okshow') == $.cookie('ASP.NET_SessionId'))
                $('#menutopxx').hide();

            }
        }


    </script>


</body>
</html>
