﻿
@using ThanhNienNews.Models

<!DOCTYPE HTML PUBLIC " -//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:uixsltutils="UserInterface:XsltUtils">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=0.3, maximum-scale=5, initial-scale=1.0, user-scalable=yes" />
    <meta name="title" content="VietNamNet – Tin tức, Thời sự cập nhật liên tục 24x7 " />
    <link rel="image_src" href="" />
    <meta name="description" content="VietNamNet, Tin tức, thông tin cập nhật liên tục. Trong nước, Quốc tế, Chính trị, Xã hội, Đời sống, Văn hóa, Giải trí, Thể thao..." />
    <meta name="keywords" content="VietNam,Vietnamese, VietNamNet, Tuanvietnam,Thể thao, Bất động sản, Chính sách,chinhsach, Xã hội, Xahoi, Xa hoi , Báo điện tử, Chính phủ , Quốc hội, Nhân dân, Lao động, VNPT, F-Media, Media, Xa hoi, Báo điện tử, Bao dien tu, Baodientu, Xahoi,Chính sách, Chinh sach, Kinh tế, Kinh te , Kinh te, Quochoi, Nhandan, Nhan dan, Laodong, Lao dong, I-vietnam,tintuconline,2sao,Đời sống, Doi song, Kinh Doanh, Kinhdoanh, Cấn thơ, Can tho, Cantho, Đà Nẵng, Hà nội, Hanoi, Ha Noi, Sài gòn, Saigon Sài gòn, TP HCM, Tân Sơn Nhất,Tansonnhat, Nội bài, Noibai, Noi bai, Vinaphone, Mobifone, Viettel, Di động, Viễn thông, Smartphone" />
    <meta http-equiv="Cache-control" content="Public" />
    <meta http-equiv="Expires" content="600" />
    <meta http-equiv="Refresh" content="1200" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="vnn_category_alias" content="home" />
    <meta name="vnn_domain" content="http://m.vietnamnet.vn/" />
    <link rel="apple-touch-icon" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/touch-icon-ipad-retina.png" />
    <link rel="apple-touch-startup-image" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/startup.png" />
    <title>VietNamNet - Tin tức, Thời sự cập nhật liên tục 24x7</title>
    <script src="http://res.vietnamnet.vn/resources.jsx?alias=jquery-for-mobile&amp;version=lastest"></script>
    <link type="image/x-icon" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/images/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/css/style-v1-0-16.css" />
    <link rel="stylesheet" type="text/css" href="http://res.vietnamnet.vn/VietNamNet/Mobile/v2013/css/print.css" />


    <script type="text/javascript">
            //permission = "@@loginUser.permission";
            var root = location.protocol + "//" + location.host + '@Url.Content("~/")';

            root = root.slice(0, -1);

    </script> 
</head>
<body>
<div class="top-page">
        <div class="clearfix">
            <div class="left"><a href="/" class="ButtonImage btnLogo" title="Trang chủ"><span>Trang chủ</span></a></div><div class="MenuTop right">
                <ul>
                    <li><a href="#" class="label ButtonImage btnNotify" style="display:none;"><span>Notify</span><b class="number"> </b></a><div class="SubMenuBox"><div class="BoxStyle1Item boxNorify"><div class="BoxStyle1Item-Head">Danh sách thông báo</div><div class="BoxStyle1Item-Body"><ul class="boxNorify-List"> </ul></div><div class="BoxStyle1Item-Footer"><div class="clearfix"><div class="left"><a href="#" class="boxNorify-BtnReadmore">Xem thêm</a></div><div class="right"><a href="#" class="boxNorify-BtnMaskRead">Đánh dấu đọc hết</a></div></div></div></div></div></li>
                    <li><a href="#" class="label ButtonImage btnUser"><span>User</span></a><div class="SubMenuBox"><div class="BoxStyle1Item"><div class="BoxStyle1Item-Body"><ul class="UserMenu"> </ul></div></div></div></li>
                    <li><a href="#" class="label ButtonImage btnSearch"><span>Search</span></a><div class="SubMenuBox"><div class="BoxStyle1Item"><div class="BoxStyle1Item-Body"><ul class="BoxRowStyle"><li><div class="BoxRowStyle-Row clearfix"><input type="text" id="inputSearchKeyword" value="" placeholder="Từ khóa..." /><button type="button" id="inputSearchButton">Tìm kiếm</button></div></li><li><div class="BoxRowStyle-Row"><div class="clearfix"><div class="left"><select id="inputSearchOpType"><option value="0">Tất cả</option><option value="1">Bài viết</option><option value="2">Ảnh</option><option value="3">Video</option></select></div><div class="right"><select id="inputSearchOpCate"><option selected="selected" value="a">Tất cả các chuyên mục</option><option value="xa-hoi">Xã hội</option><option value="cong-nghe-thong-tin-vien-thong">CNTT - Viến thông</option><option value="giao-duc">Giáo dục</option><option value="chinh-tri">Chính trị</option><option value="phong-su-dieu-tra">Phóng sự điều tra</option><option value="kinh-te">Thị trường</option><option value="quoc-te">Quốc tế</option><option value="van-hoa">Văn hóa</option><option value="khoa-hoc">Khoa học</option><option value="ban-doc-phap-luat">Bạn đọc</option></select></div></div></div></li></ul></div></div></div></li>
                    <li><a href="#" class="label ButtonImage btnMenuStandard"><span>Standard version</span></a></li>
                    <li>
                        <a href="#" class="label ButtonImage btnMenuCategory"><span>Menu</span></a><div class="SubMenuBox">
                            <div class="BoxStyle1Item">
                                <div class="BoxStyle1Item-Body">
                                    <ul class="PageMenuTop2 clearfix"><li><span class="icon16 icon-home"> </span><a href="http://m.vietnamnet.vn/" class="red">Trang chủ</a></li><li><span class="bulletBox bulletBox1"> </span><a href="/vn/quoc-te/">Quốc tế</a></li><li><span class="bulletBox bulletBox2"> </span><a href="/vn/xa-hoi/">Xã hội</a></li><li><span class="bulletBox bulletBox7"> </span><a href="/vn/cong-nghe-thong-tin-vien-thong/">CNTT-Viễn thông</a></li><li><span class="bulletBox bulletBox3"> </span><a href="/vn/van-hoa/">Văn hóa</a></li><li><span class="bulletBox bulletBox4"> </span><a href="/vn/giao-duc/">Giáo dục</a></li><li><span class="bulletBox bulletBox5"> </span><a href="/vn/khoa-hoc/">Khoa học</a></li><li><span class="bulletBox bulletBox6"> </span><a href="/vn/chinh-tri/">Chính trị</a></li><li><span class="bulletBox bulletBox8"> </span><a href="/vn/doi-song/">Đời sống</a></li><li><span class="bulletBox bulletBox9"> </span><a href="/vn/ban-doc-phap-luat/">Bạn đọc</a></li><li><span class="bulletBox bulletBox10"> </span><a href="/vn/kinh-te/">Kinh tế</a></li><li><span class="bulletBox bulletBox11"> </span><a href="http://m.thethao.vietnamnet.vn/" target="_blank">Thể thao</a></li></ul><ul class="PageMenuTop">
                                        <li><a href="http://mnews.vietnamnet.vn/" style="color:#C10001 !important;"><span class="icon24 icon-mnews"> </span>Phiên bản M-News</a></li>
                                        <li>
                                            <a href="/vn/thong-ke/">
                                                <span class="icon24 icon-24h"> </span>24h qua
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://m.clip.vietnamnet.vn/">
                                                <span class="icon24 icon-clip"> </span>Clip
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/the-gioi-anh/">
                                                <span class="icon24 icon-photo"> </span>Thế giới ảnh
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/xa-hoi/an-toan-giao-thong/">
                                                <span class="icon24 icon-atgt"> </span>An toàn giao thông
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/chuyen-trang/oto-xemay/">
                                                <span class="icon24 icon-car"> </span>Ô tô-Xe máy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/bao-ve-nguoi-tieu-dung/">
                                                <span class="icon24 icon-shield"> </span>Bảo vệ người tiêu dùng
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vn/doi-song/du-lich/">
                                                <span class="icon24 icon-plane"> </span>Du lịch
                                            </a>
                                        </li>
                                    </ul><center>
                                        <a href="http://m.vietnamnet.vn/" title="VietNamNet" class="ButtonImage btnVnn">
                                            <span>
                                                VietNamNet
                                            </span>
                                        </a><a title="Thể thao" class="ButtonImage btnThethao" target="_blank" href="http://m.thethao.vietnamnet.vn/"><span>Thể thao</span></a><a title="Tuần Việt Nam" class="ButtonImage btnTuanVietNam" target="_blank" href="http://tuanvietnam.vietnamnet.vn/">
                                            <span>
                                                Tuần Việt Nam
                                            </span>
                                        </a><a title="VEF" class="ButtonImage btnVef" target="_blank" href="http://vef.vn/"><span>VEF</span></a><a title="Bất Động Sản" class="ButtonImage btnVland" target="_blank" href="http://m.batdongsan.vietnamnet.vn/">
                                            <span>
                                                Bất Động Sản
                                            </span>
                                        </a><a title="Tin tức Online" class="ButtonImage btnTintucOnline" target="_blank" href="http://tintuconline.com.vn/">
                                            <span>
                                                Tin tức Online
                                            </span>
                                        </a><a title="2 Sao" class="ButtonImage btn2Sao" target="_blank" href="http://2sao.vn/">
                                            <span>
                                                2 Sao
                                            </span>
                                        </a><a title="English" class="ButtonImage btnEn" target="_blank" href="http://m.english.vietnamnet.vn/">
                                            <span>
                                                English
                                            </span>
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="VnnAdsPos clearfix" data-pos="vt1"> </div><link rel="stylesheet" type="text/css" href="http://res.vietnamnet.vn/resources.cssx?alias=vietnamnet-mobile-cate&amp;version=1.0.5" />
   
    <div class="cateBoxItem">
        <div class="cateBoxItemHead clearfix"><div class="cateBoxItemHeadText"><a href="/vn/xa-hoi/" class="lnkStyle4" title="Xã hội">Xã hội</a></div><div class="cateBoxItemHeadShapeLeft"> </div></div><div class="cateBoxItemContent">
            
                                                                                                                                                                                                             @RenderBody()<div class="paginationBox"><a href="/vn/xa-hoi/trang2/" title="Trang tiếp" class="_Next"><span>Trang tiếp </span></a></div>
        </div>
    </div> <div class="cateList" id="cateListBox">
        <div class="clearfix"><ul class="cateListItems"><li><a href="/vn/moi-nong/" class="lnkStyle6" title="Tin mới nóng">Tin mới nóng</a></li><li><a href="/vn/tin-noi-bat/" class="lnkStyle6" title="Tin nổi bật">Tin nổi bật</a></li><li><a href="/vn/xa-hoi/" class="lnkStyle6" title="Xã hội">Xã hội</a></li><li><a href="/vn/cong-nghe-thong-tin-vien-thong/" class="lnkStyle6" title="CNTT">CNTT</a></li><li><a href="/vn/giao-duc/" class="lnkStyle6" title="Giáo dục">Giáo dục</a></li><li><a href="/vn/chinh-tri/" class="lnkStyle6" title="Chính trị">Chính trị</a></li><li><a href="/vn/kinh-te/" class="lnkStyle6" title="Kinh tế">Kinh tế</a></li></ul><ul class="cateListItems"><li><a href="/vn/quoc-te/" class="lnkStyle6" title="Quốc tế">Quốc tế</a></li><li><a href="/vn/van-hoa/" class="lnkStyle6" title="Văn hóa">Văn hóa</a></li><li><a href="/vn/khoa-hoc/" class="lnkStyle6" title="Khoa học">Khoa học</a></li><li><a href="/vn/ban-doc-phap-luat/" class="lnkStyle6" title="Bạn đọc">Bạn đọc</a></li><li><a href="/vn/doi-song/" class="lnkStyle6" title="Đời sống">Đời sống</a></li></ul></div><div class="linedot-2">

        </div><center>
            <a class="ButtonImage btnVnn" title="VietNamNet" href="http://m.vietnamnet.vn/">
                <span>
                    VietNamNet
                </span>
            </a><a href="http://m.thethao.vietnamnet.vn/" target="_blank" class="ButtonImage btnThethao" title="Thể thao"><span>Thể thao</span></a><a href="http://tuanvietnam.vietnamnet.vn/" target="_blank" class="ButtonImage btnTuanVietNam" title="Tuần Việt Nam">
                <span>
                    Tuần
                    Việt Nam
                </span>
            </a><a href="http://vef.vn/" target="_blank" class="ButtonImage btnVef" title="VEF"><span>VEF</span></a><a href="http://m.batdongsan.vietnamnet.vn/" target="_blank" class="ButtonImage btnVland" title="Bất Động Sản"><span>Bất Động Sản</span></a><a href="http://tintuconline.com.vn/" target="_blank" class="ButtonImage btnTintucOnline" title="Tin tức Online"><span>Tin tức Online</span></a><a href="http://2sao.vn/" target="_blank" class="ButtonImage btn2Sao" title="2 Sao"><span>2 Sao</span></a><a href="http://m.english.vietnamnet.vn/" target="_blank" class="ButtonImage btnEn" title="English"><span>English</span></a><a href=" http://apps.vietnamnet.vn/" target="_blank" class="btnapp ButtonImage" title="Ứng dụng"><span>Ứng dụng</span></a>
        </center>
    </div><div class="footer-page">
        <p class="a-c" style="background-color: #494949;"><a href="#top" class="ButtonImageText btnToTop"><span>Về đầu trang</span></a></p><div class="footerInfoBox">
            <p class="a-c f-11">
                <span class="icon-tel"> </span>Hotline HN: <span class="c-r2">0923457788</span>
                HCM: <span class="c-r2">0962237788</span>
            </p><p class="a-c">
                <span class="icon-doc"> </span><a href="http://comments.srv.vietnamnet.vn/MFeedback/Send.html" class="lnkStyle7" target="_blank">Thông tin Tòa soạn</a>
                <span class="icon-edit"> </span><a href="http://docs.srv.vietnamnet.vn/docs/vnn/qctt/lhtt.htm" class="lnkStyle7" target="_blank">Liên hệ quảng cáo</a>
            </p>
        </div><p class="a-c c-g2 f-11">
            © 1997-2013 Báo VietNamNet. All rights reserved.
        </p>
    </div>
  
</body>
</html>

