﻿@using ThanhNienNews.Models
@{
    if(Session["loginUser"] != null)
    {
        User loginUser = Session["loginUser"] as User;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>    
    <link href="@Url.Content("~/Content/base.css")" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
   
	<!-- End Masthead -->	
	<!-- Begin Page Content -->
	<div id="page_content">
		<!-- Begin Left Column -->
		<div id="column_l">
            <!-- #BeginEditable "content" -->
            <p id="MainContent"></p>
           		@RenderBody()	
			<!-- #EndEditable -->
        </div>
		<!-- End Left Column -->
    </div>
	<!-- End Page Content -->	
</div>
</body>
</html>
