﻿@using ThanhNienNews.Models
@{
    List<SearchCondition> searchConditionList = Model.SearchConditionList;
    string searchData = "";
    int count = 1;
    if(searchConditionList != null)
    {
        foreach(var searchCondition in searchConditionList)
        {
            
            searchData += searchCondition.searchField + "@slash" + searchCondition.searchValue + "@slash" + searchCondition.searchOption + "@slash" + searchCondition.format;
            if(count < searchConditionList.Count)
            {
                searchData += "@item";
            }
            count++;
        }
    }
}
@if (Model.MaxPage > 1)
{
    <div class="pageStep" style="margin-left:@(60-((Model.MaxMenu-1)*5))px;">
    @if (Model.HasPrev)
    { 
        <a class="btn_first button" href="JavaScript:newPage('1', '@Model.SortField', '@Model.SortDirection', '@searchData');">First</a>
    }
    else
    {
        <a class="btn_first button" disabled="disabled">First</a>
    }
    @if (Model.HasPrev)
    { 
        <a class="btn_prev button" href="JavaScript:newPage('@(Model.CurrentPage - 1)', '@Model.SortField', '@Model.SortDirection', '@searchData');">Prev</a>
    }
    else
    {
        <a class="btn_prev button" disabled="disabled">Prev</a>
    }
    &nbsp
    </div>

    <ul>
    @{
    for (int i = Model.MinMenu; i <= Model.MaxMenu; i++)
    {
            @:<li @(Model.CurrentPage == i ? "class=selected" : "") ><a href="JavaScript:newPage('@i', '@Model.SortField', '@Model.SortDirection', '@searchData');">@i</a></li>
        }
     }
    </ul>
    <div class="pageStep last">
    @if (Model.HasNext)
    { 
        <a class="btn_next button" href="JavaScript:newPage('@(Model.CurrentPage + 1)', '@Model.SortField', '@Model.SortDirection', '@searchData');">Next</a>
    }
    else
    {
        <a class="btn_next button" disabled="disabled">Next</a>
    }
    @if (Model.HasNext)
    { 
        <a class="btn_last button" href="JavaScript:newPage('@Model.MaxPage', '@Model.SortField', '@Model.SortDirection', '@searchData');">Last</a>
    }
    else
    {
        <a class="btn_last button" disabled="disabled">Last</a>
    }
    &nbsp
</div>
}
