﻿@using ThanhNienNews.Models
@using ThanhNienNews.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTimDo.cshtml";
}

@{
   
    foreach (MyNew item in ViewBag.NewsListSearch)
    {
        @item.Title <br />
    <a href="~/@item.Title _-id-@item.GUID_ID">@item.Title</a>
    }
    

}

<div class="cateArticleList">
    <div class="cateArticleItem">
        <div class="clearfix">
            <a href="/vn/xa-hoi/188106/tam-giu-hinh-su-ke-tan-cong-dieu-duong-mang-thai.html" target="_self" title="Tạm giữ hình sự kẻ tấn công điều dưỡng mang thai"><img src="http://imgs.vietnamnet.vn/Images/vnn/2014/07/26/09/20140726091141-20140725140154-hanh-hung-102x77.jpg" class="thumb" width="102" height="77" alt="Tạm giữ hình sự kẻ tấn công điều dưỡng mang thai"> </a><p class="title">
                <a class="lnkStyle5 articletype_5" href="/vn/xa-hoi/188106/tam-giu-hinh-su-ke-tan-cong-dieu-duong-mang-thai.html" target="_self" title="Tạm giữ hình sự kẻ tấn công điều dưỡng mang thai">Tạm giữ hình sự kẻ tấn công điều dưỡng mang thai </a><br><span class="date">
                    (<span class="hour">
                        09:10 |
                    </span><span class="day">1 giờ trước</span>)
                </span>
            </p>
        </div>
    </div><div class="cateArticleItem">
        <div class="clearfix">
            <a href="/vn/xa-hoi/187785/hanh-trinh-tu-dat-lua-ve-dat-cang-cua-cuon-nhat-ky.html" target="_self" title="Hành trình từ đất lửa về đất Cảng của cuốn nhật ký"><img src="http://imgs.vietnamnet.vn/Images/vnn/2014/07/24/14/20140724130249-2ky-102x77.jpg" class="thumb" width="102" height="77" alt="Hành trình từ đất lửa về đất Cảng của cuốn nhật ký"> </a><p class="title">
                <a class="lnkStyle5 articletype_5" href="/vn/xa-hoi/187785/hanh-trinh-tu-dat-lua-ve-dat-cang-cua-cuon-nhat-ky.html" target="_self" title="Hành trình từ đất lửa về đất Cảng của cuốn nhật ký">Hành trình từ đất lửa về đất Cảng của cuốn nhật ký </a><br><span class="date">
                    (<span class="hour">
                        05:00 |
                    </span><span class="day">5 giờ trước</span>)
                </span>
            </p>
        </div>
    </div><div class="cateArticleItem">
        <div class="clearfix">
            <a href="/vn/xa-hoi/187993/nguoi-nha-benh-nhan-danh-dieu-duong-mang-thai.html" target="_self" title="Người nhà bệnh nhân đánh điều dưỡng mang thai"><img src="http://imgs.vietnamnet.vn/Images/vnn/2014/07/25/14/20140725140154-hanh-hung-102x77.jpg" class="thumb" width="102" height="77" alt="Người nhà bệnh nhân đánh điều dưỡng mang thai"> </a><p class="title">
                <a class="lnkStyle5 articletype_5" href="/vn/xa-hoi/187993/nguoi-nha-benh-nhan-danh-dieu-duong-mang-thai.html" target="_self" title="Người nhà bệnh nhân đánh điều dưỡng mang thai">Người nhà bệnh nhân đánh điều dưỡng mang thai </a><br><span class="date">
                    (<span class="hour">
                        16:24 |
                    </span><span class="day">18 giờ trước</span>)
                </span>
            </p>
        </div>
    </div>
</div>
