﻿
@using ThanhNienNews.Models
@{
    ViewBag.Title = "ViewIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewIt</h2>
@{
    MyNew news = ViewBag.DataOne;
   
}

<br/>



<article class="article">
    <header>@news.Title</header><p class="date"><span class="date"><span class="hour">Cập nhật: 02:00 | </span><span class="day">24/07/2014</span></span></p><div class="content">
                                                                                                                                                                                                       @Html.Raw(news.FullDesc)
    </div>
</article>